<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>GOV.UK - The best place to find government services and information</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="../assets/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="../assets/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../assets/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../assets/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="../assets/stylesheets/govuk-template-print.css" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["../assets/stylesheets/fonts-ie8.css"]},
       c="../assets/javascripts/vendor/goog/webfont-debug.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="../assets/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="../assets/javascripts/ie.js" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../assets/images/apple-touch-icon-152x152.png">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../assets/images/apple-touch-icon-120x120.png">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../assets/images/apple-touch-icon-76x76.png">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-60x60.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="../assets/images/opengraph-image.png">


    <!--[if gt IE 8]><!--><link href="../assets/stylesheets/elements-page.css"  rel="stylesheet" type="text/css"><!--<![endif]-->
    <!--[if IE 6]><link href="../assets/stylesheets/elements-page-ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../assets/stylesheets/elements-page-ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../assets/stylesheets/elements-page-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="../assets/stylesheets/overrider.css" media="screen" rel="stylesheet" type="text/css" />
    

  </head>

  <body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">

        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>

    </div>
    <!--end global-cookie-message-->


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="../assets/images/gov.uk_logotype_crown_invert_trans.png" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="index.html" id="proposition-name">Director Conduct Assessment Service</a>
              <ul id="proposition-links">
                <li><a href="dashboard.html" class="active">Dashboard</a></li>
                <li><a href="client_submitted_cases.html">Submitted Cases</a></li>
                <li><a href="settings.html">Settings</a></li>
                <li><a href="client_logout.html">Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>


    <!--end header-->




    <div id="global-header-bar"></div>
    <!--end global-header-bar-->


    <main class="elements-index" id="content" role="main">
      <div class="phase-banner-beta">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="http://www.surveymonkey.com" target="_blank">feedback</a> will help us to improve it.</span>
        </p>
      </div>

      <div id="global-breadcrumb">
        <ol>
          <li><a href="index.html">Conduct Assessment Service</a></li>
          <li><a href="/">Dashboard</a></li>
          <li>AdventureWorks Cycles Limited</li>
        </ol>
      </div>

    <!-- start of form -->




        <div id="casePreview" class="font-medium">

            <div id="casePreviewHeader" class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge">
                        <span class="heading-secondary">NCL18829292</span>
                        AdventureWorks Cycles Limited
                    </h1>
                </div>
                
                <div class="column-one-third r-align">
                    <p><span class="highlight highlight-red font-large">Administration</span></p>
                </div>
            </div>    

            <div class="section">
                <div class="grid-row">
                    <div class="column-one-third">
                        <h2 class="form-title heading-large">Contact details</h2>   
                    </div>
                    <div class="column-two-thirds">
                        <p class="font-large p-group">Joe Blogg</p> 
                        <p>Appointed on 10.10.2015</p>
                        <p>e: joe.blogg@somefirm.com<br />p: 07877 112233</p>
                    </div>
                </div>
            </div>
            
            
            <div class="section section-divider">
                <div class="grid-row">
                    <div class="column-one-third">
                        <h2 class="form-title heading-large">Company details</h2>  
                    </div>
                    <div class="column-two-thirds">
                        <p class="font-large">Incorporated on 15.02.1999</p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p class="hint">
                            Registered address
                        </p>
                        <p>
                            Floor 1 Canon house<br />
                            Canon street<br />
                            Birmingham<br />
                            BS1 1ES<br />
                            United Kingdom
                        </p>
                    </div>

                    <div class="column-one-third">
                        <p class="hint">
                            Principal address
                        </p>
                        <p>
                            Floor 1 Canon house<br />
                            Canon street<br />
                            Birmingham<br />
                            BS1 1ES<br />
                            United Kingdom
                        </p>
                    </div>
                </div>
            </div>

            <div class="section section-divider">
                <div class="grid-row">
                    <div class="column-one-third">
                        <h2 class="form-title heading-large">Director details <br /><span class="font-medium">(2 directors)</span></h2>
                    </div>
                    <div class="column-two-thirds">
                        <p class="font-large">Mr. Joe Blogg
                        <br /><span class="hint font-medium">(this is Joe's other name)</span></p>
                        <p>
                            Flat 1 Old wine house<br/ >
                            Birmingham<br/ >
                            B20 1AA<br/ >

                        </p>

                        <p class="font-medium">Appointed between 10.10.1990 and 10.12.2008</p>
                    </div>
                </div>


                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Is this person recorded as a director of the company at Companies House?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>What evidence is there to show that the person acted as a director?</p>
                    </div>
                    <div class="column-one-third">
                        <p>
                            <strong class="bold-medium">
                                Company books, 
                                Bank,
                                Employees
                            </strong>
                        </p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Is this the director's 3rd or more company failure in the last 5 years?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">Yes</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Are you aware if the director has given a personal guarantee for any of the company's debt?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Whilst the company was trading was the director either bankrupt, disqualified or otherwise restricted from acting?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">Yes</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>What evidence is there that the person acted as a director whilst bankrupt, disqualified or otherwise restricted from acting?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">
                                Company books, 
                                Employees,
                                Bank,
                                Creditors / Suppliers,
                                Company agent
                            </strong>
                        </p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Is there evidence that the director benefited directly or indirectly in an unreasonable or excessive manner from the company's trading?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Are you satisfied that the director has co-operated with your reasonable enquiries?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Are you aware of the director suffering any serious ill-health issues, either currently or whilst the company was trading?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div>&nbsp;</div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-two-thirds">
                        <p class="font-large">Ms. Kate Brown
                        <p>
                            33 Canon house<br/ >
                            Canon streets<br/ >
                            NG1 1AA<br/ >

                        </p>

                        <p class="font-medium">Appointed between 10.10.1990 and 10.12.2008</p>
                    </div>
                </div>


                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Is this person recorded as a director of the company at Companies House?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">Yes</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Is this the director's 3rd or more company failure in the last 5 years?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">Yes</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Are you aware if the director has given a personal guarantee for any of the company's debt?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Whilst the company was trading was the director either bankrupt, disqualified or otherwise restricted from acting?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Is there evidence that the director benefited directly or indirectly in an unreasonable or excessive manner from the company's trading?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Are you satisfied that the director has co-operated with your reasonable enquiries?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">&nbsp;</div>
                    <div class="column-one-third">
                        <p>Are you aware of the director suffering any serious ill-health issues, either currently or whilst the company was trading?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>
            </div>
            
            <!-- xxxxx -->
            
            <div class="section section-divider">
                <div class="grid-row">
                    <div class="column-one-third">
                        <h2 class="form-title heading-large ">Company Insolvency</h2>
                    </div>
                    <div class="column-one-third">
                        <p>What is the number of company creditors?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">51 to 100</strong></p>
                    </div>

                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>Is this person recorded as a director of the company at Companies House?</p>
                    </div>
                    <div class="column-one-third">
                        <p><strong class="bold-medium">Yes</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>What % of the total deficiency is this?</p>
                    </div>

                    <div class="column-one-third">
                        <p><strong class="bold-medium">51-75%</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>Who is the majority creditor?</p>
                    </div>

                    <div class="column-one-third">
                        <p><strong class="bold-medium">Director and/or connected parties</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>Is there evidence to contradict the directors' explanation for the cause of the company's failure or size of the company's deficiency?</p>
                    </div>

                    <div class="column-one-third">
                        <p><strong class="bold-medium">Yes</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>What is the actual, or your current best estimate, of the company's deficiency?</p>
                    </div>

                    <div class="column-one-third">
                        <p><strong class="bold-medium">Between &pound;20,001 and &pound;100,000</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>Is there likely to be a dividend to unsecured creditors?</p>
                    </div>

                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>Will secured creditors be paid in full?</p>
                    </div>

                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>Are you aware of any investigations or proceedings by other regulators (including police)?</p>
                    </div>

                    <div class="column-one-third">
                        <p><strong class="bold-medium">Yes</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>Who is taking this action?</p>
                    </div>

                    <div class="column-one-third">
                        <p><strong class="bold-medium">Police, Serious fraud office, HMRC</strong></p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-one-third">
                        &nbsp;
                    </div>
                    <div class="column-one-third">
                        <p>Are any of the directors of this company carrying on a successor business that is using the same or substantially the same name or trading style as this one?</p>
                    </div>

                    <div class="column-one-third">
                        <p><strong class="bold-medium">No</strong></p>
                    </div>
                </div>
            </div>
        </div>



<!-- end of form -->



    </main>


    <!-- Page content goes here -->

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">


            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="../assets/javascripts/govuk-template.js" type="text/javascript"></script>
    <script src="../assets/javascripts/jquery.js" type="text/javascript"></script>

    <script src="../assets/javascripts/vendor/bind.js" type="text/javascript"></script>
    <script src="../assets/javascripts/selection-buttons.js" type="text/javascript"></script>

    <script src="../assets/javascripts/vendor/details.polyfill.js" type="text/javascript"></script>
    <script src="../assets/javascripts/application.js" type="text/javascript"></script>
    <script src="../assets/javascripts/inss.js" type="text/javascript"></script>
  </body>
</html>
