<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>GOV.UK - The best place to find government services and information</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="../assets/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="../assets/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../assets/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../assets/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="../assets/stylesheets/govuk-template-print.css" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["../assets/stylesheets/fonts-ie8.css"]},
       c="../assets/javascripts/vendor/goog/webfont-debug.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="../assets/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="../assets/javascripts/ie.js" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../assets/images/apple-touch-icon-152x152.png">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../assets/images/apple-touch-icon-120x120.png">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../assets/images/apple-touch-icon-76x76.png">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-60x60.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="../assets/images/opengraph-image.png">
      
      
    <!--[if gt IE 8]><!--><link href="../assets/stylesheets/elements-page.css"  rel="stylesheet" type="text/css"><!--<![endif]-->
    <!--[if IE 6]><link href="../assets/stylesheets/elements-page-ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../assets/stylesheets/elements-page-ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../assets/stylesheets/elements-page-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
      
    <link href="../assets/stylesheets/overrider.css" media="screen" rel="stylesheet" type="text/css" />
    
    
  </head>

  <body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
      
    </div>
    <!--end global-cookie-message-->

    
    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="../assets/images/gov.uk_logotype_crown_invert_trans.png" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="index.html" id="proposition-name">Director Conduct Assessment Service</a>
              <ul id="proposition-links">
                <li><a href="dashboard.html" class="active">Dashboard</a></li>
                <li><a href="client_submitted_cases.html">Submitted Cases</a></li>
                
                <li><a href="settings.html">Settings</a></li>
                <li><a href="client_logout.html">Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
      

    <!--end header-->
    

    

    <div id="global-header-bar"></div>
    <!--end global-header-bar-->
      
      
    <main class="elements-index" id="content" role="main">
      <div class="phase-banner-beta">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="http://www.surveymonkey.com" target="_blank">feedback</a> will help us to improve it.</span>
        </p>
      </div>
        
      <div id="global-breadcrumb">
        <ol>
          <li><a href="index.html">Conduct Assessment Service</a></li>
          <li><a href="/">Dashboard</a></li>
          <li>AdventureWorks Cycles Limited</li>
        </ol>
      </div>
    
    <!-- start of form -->
        
        <div class="grid-row">
            

            
            <div class="column-two-thirds">
                
                
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">NCL18829292</span>
                    AdventureWorks Cycles Limited
                </h1>
                
                
                <form role="form" method="get" action="case_5_books_and_records.html" aria-label="Case information form">
                    <h1 class="form-title heading-large">Company Insolvency</h1>
                    
                    <fieldset class="inline">
                      <div class="form-group" role="group" aria-label="What is the number of company creditors?" >
                        <legend class="bold-small">What is the number of company creditors?</legend>
                          <label for="insolvency_q1_1_10" class="block-label">
                            <input name="insolvency_q1" id="insolvency_q1_1_10" value="1 to 10" type="radio">1 to 10
                          </label>
                          <label for="insolvency_q1_11_50" class="block-label" data-target="appointment-status-sub">
                            <input name="insolvency_q1" id="insolvency_q1_11_50" value="11 to 50" type="radio">11 to 50
                          </label>
                          <label for="insolvency_q1_51_100" class="block-label" data-target="appointment-status-sub">
                            <input name="insolvency_q1" id="insolvency_q1_51_100" value="51 to 100" type="radio">51 to 100
                          </label>
                          <label for="insolvency_q1_over_100" class="block-label" data-target="appointment-status-sub">
                            <input name="insolvency_q1" id="insolvency_q1_over_100" value="Over 100" type="radio">Over 100
                          </label>
                      </div>
                    </fieldset>
                    
                    <fieldset class="inline">
                        <div class="form-group" role="group" aria-label="Is there a majority creditor?" >
                          <legend class="bold-small">Is there a majority creditor?</legend>

                          <label class="block-label" for="insolvency_q2_yes" data-target="q2-sub">
                            <input id="insolvency_q2_yes" type="radio" name="insolvency_q2" value="Yes" aria-controls="q2-sub">
                            Yes
                          </label>
                          <label class="block-label" for="insolvency_q2_no">
                            <input id="insolvency_q2_no" type="radio" name="insolvency_q2" value="No">
                            No
                          </label>
                        </div>
                    </fieldset>
                    
                    
                    <div class="panel panel-border-narrow js-hidden" id="q2-sub">
                        <fieldset class="inline">
                          <div class="form-group" role="group" aria-label="What % of the total deficiency is this?" >
                            <legend class="bold-small">What % of the total deficiency is this?</legend>
                              <label for="q2_deficiency_51_57" class="block-label">
                                <input name="q2_deficiency" id="q2_deficiency_51_57" value="51-75%" type="radio">51-75%
                              </label>

                              <label for="q2_deficiency_76_90" class="block-label">
                                <input name="q2_deficiency" id="q2_deficiency_76_90" value="76-90%" type="radio">76-90%
                              </label>

                               <label for="q2_deficiency_91_100" class="block-label">
                                <input name="q2_deficiency" id="q2_deficiency_91_100" value="91-100%" type="radio">91-100%
                              </label>
                          </div>
                        </fieldset>
                        
                        <div>&nbsp;<!-- spacer --></div>
                        
                        <fieldset class="inline">
                          <div class="form-group" role="group" aria-label="Who is the majority creditor?" >
                            <legend class="bold-small">Who is the majority creditor?</legend>
                              <label for="q2_majority_creditor_hmrc" class="block-label">
                                <input name="q2_majority_creditor" id="q2_majority_creditor_hmrc" value="HMRC" type="radio">HMRC
                              </label>

                              <label for="q2_majority_creditor_trade_expense" class="block-label">
                                <input name="q2_majority_creditor" id="q2_majority_creditor_trade_expense" value="Trade &amp; Expense" type="radio">Trade &amp; Expense
                              </label>

                               <label for="q2_majority_creditor_banks" class="block-label">
                                <input name="q2_majority_creditor" id="q2_majority_creditor_banks" value="Banks" type="radio">Banks
                              </label>
                              
                              <label for="q2_majority_creditor_investors" class="block-label">
                                <input name="q2_majority_creditor" id="q2_majority_creditor_investors" value="Investors" type="radio">Investors
                              </label>
                              
                              <label for="q2_majority_creditor_directors" class="block-label">
                                <input name="q2_majority_creditor" id="q2_majority_creditor_directors" value="Director and/or connected parties" type="radio">Director and/or connected parties
                              </label>
                              
                              <label for="q2_majority_creditor_other" class="block-label">
                                <input name="q2_majority_creditor" id="q2_majority_creditor_other" value="Other" type="radio">Other
                              </label>
                          </div>
                        </fieldset>
                    </div>
                    
                    
                    
                    <fieldset class="inline">
                      <div class="form-group" role="group" aria-label="Is there evidence to contradict the directors' explanation for the cause of the company's failure or size of the company's deficiency?" >
                        <legend class="bold-small">Is there evidence to contradict the directors' explanation for the cause of the company's failure or size of the company's deficiency?</legend>

                          <label for="q3_contradiction_yes" class="block-label">
                            <input name="q3_contradiction" id="q3_contradiction_yes" value="Yes" type="radio">Yes
                          </label>

                           <label for="q3_contradiction_no" class="block-label">
                            <input name="q3_contradiction" id="q3_contradiction_no" value="No" type="radio">No
                          </label>
                      </div>
                    </fieldset>
                    
                    
                    <fieldset class="inline">
                      <div class="form-group" role="group" aria-label="What is the actual, or your current best estimate, of the company's deficiency?" >
                        <legend class="bold-small">What is the actual, or your current best estimate, of the company's deficiency?</legend>
                          <label for="q4_deficiency_under_20k" class="block-label">
                            <input name="q4_deficiency" id="q4_deficiency_under_20k" value="Less than &pound;20,000" type="radio">Less than &pound;20,000
                          </label>

                          <label for="q4_deficiency_20k_100K" class="block-label">
                            <input name="q4_deficiency" id="q4_deficiency_20k_100K" value="Between &pound;20,001 and &pound;100,000" type="radio">Between &pound;20,001 and &pound;100,000
                          </label>

                           <label for="q4_deficiency_100k_500k" class="block-label">
                            <input name="q4_deficiency" id="q4_deficiency_100k_500k" value="Between &pound;100,001 and &pound;500,000" type="radio">Between &pound;100,001 and &pound;500,000
                          </label>

                          <label for="q4_deficiency_500k_1000k" class="block-label">
                            <input name="q4_deficiency" id="q4_deficiency_500k_1000k" value="Between &pound;500,001 and &pound;1,000,000" type="radio">Between &pound;500,001 and &pound;1,000,000
                          </label>

                          <label for="q4_deficiency_over_1m" class="block-label">
                            <input name="q4_deficiency" id="q4_deficiency_over_1m" value="Over &pound;1,000,000" type="radio">Over &pound;1,000,000
                          </label>
                      </div>
                    </fieldset>

                    
                    
                    <fieldset class="inline">
                        <div class="form-group" role="group" aria-label="Is there likely to be a dividend to unsecured creditors?" >
                          <legend class="bold-small">Is there likely to be a dividend to unsecured creditors?</legend>

                          <label class="block-label" for="q5_dividend_yes" data-target="q5-sub">
                            <input id="q5_dividend_yes" type="radio" name="q5_dividend" value="Yes" aria-controls="q5-sub">
                            Yes
                          </label>
                          <label class="block-label" for="q5_dividend_no">
                            <input id="q5_dividend_no" type="radio" name="q5_dividend" value="No">
                            No
                          </label>
                        </div>
                    </fieldset>
                    
                    <div class="panel panel-border-narrow js-hidden" id="q5-sub">
                        <fieldset class="inline">
                          <div class="form-group" role="group" aria-label="What is this value?" >
                            <legend class="bold-small">What is this value?</legend>
                              <label for="q5_value_1_10" class="block-label">
                                <input name="q5_value" id="q5_value_1_10" value="1 - 10p in &pound;" type="radio">1 - 10p in &pound;
                              </label>

                              <label for="q5_value_11_50" class="block-label">
                                <input name="q5_value" id="q5_value_11_50" value="11 - 50p in &pound;" type="radio">11 - 50p in &pound;
                              </label>

                               <label for="q5_value_50_above" class="block-label">
                                <input name="q5_value" id="q5_value_50_above" value="50p and above in &pound;" type="radio">50p and above in &pound;
                              </label>
                              
                              <label for="q5_value_unknown" class="block-label">
                                <input name="q5_value" id="q5_value_unknown" value="Not known at this stage" type="radio">Not known at this stage
                              </label>
                          </div>
                        </fieldset>
                    </div>
                    
                    
                    <fieldset class="inline">
                        <div class="form-group" role="group" aria-label="Will secured creditors be paid in full?" >
                          <legend class="bold-small">Will secured creditors be paid in full?</legend>

                          <label class="block-label" for="q6_secured_creditors_payment_yes">
                            <input id="q6_secured_creditors_payment_yes" type="radio" name="q6_secured_creditors_payment" value="Yes">
                            Yes
                          </label>
                          <label class="block-label" for="q6_secured_creditors_payment_no">
                            <input id="q6_secured_creditors_payment_no" type="radio" name="q6_secured_creditors_payment" value="No">
                            No
                          </label>
                        </div>
                    </fieldset>
                    
                    
                    <fieldset class="inline">
                        <div class="form-group" role="group" aria-label="Are you aware of any investigations or proceedings by other regulators (including police)?" >
                          <legend class="bold-small">Are you aware of any investigations or proceedings by other regulators (including police)?</legend>

                          <label class="block-label" for="q7_investigation_yes" data-target="q7-sub">
                            <input id="q7_investigation_yes" type="radio" name="q7_investigation" value="Yes" aria-controls="q7-sub">
                            Yes
                          </label>
                          <label class="block-label" for="q7_investigation_no">
                            <input id="q7_investigation_no" type="radio" name="q7_investigation" value="No">
                            No
                          </label>
                        </div>
                    </fieldset>
                    
                    
                    <div class="panel panel-border-narrow js-hidden" id="q7-sub">

                        <fieldset class="inline">
                          <div class="form-group" role="group" aria-label="Who is taking this action?" >
                            <legend class="bold-small">Who is taking this action?</legend>
                            <span class="form-hint" id="proceedings_hint">Tick all that apply</span>  

                              <label for="q7_proceedings_police" class="block-label">
                                <input name="q7_proceedings" id="q7_proceedings_police" value="Under capitalisation" type="checkbox">Police
                              </label>

                              <label for="q7_proceedings_sfo" class="block-label">
                                <input name="q7_proceedings" id="q7_proceedings_sfo" value="Serious fraud office" type="checkbox">Serious fraud office
                              </label>

                               <label for="q7_proceedings_hmrc" class="block-label">
                                <input name="q7_proceedings" id="q7_proceedings_hmrc" value="HMRC" type="checkbox">HMRC
                              </label>

                              <label for="q7_proceedings_fca" class="block-label">
                                <input name="q7_proceedings" id="q7_proceedings_fca" value="Financial conduct authority" type="checkbox">Financial conduct authority
                              </label>

                              <label for="q7_proceedings_home_office" class="block-label">
                                <input name="q7_proceedings" id="q7_proceedings_home_office" value="Home office" type="checkbox">Home office
                              </label>

                               <label for="q7_proceedings_charity_commission" class="block-label">
                                <input name="q7_proceedings" id="q7_proceedings_charity_commission" value="Charity commission" type="checkbox">Charity commission
                              </label>

                              <label for="q7_proceedings_trading_standards" class="block-label">
                                <input name="q7_proceedings" id="q7_proceedings_trading_standards" value="Trading standards" type="checkbox">Trading standards
                              </label>
                              
                              <label for="q7_proceedings_other_gov_dept" class="block-label">
                                <input name="q7_proceedings" id="q7_proceedings_other_gov_dept" value="Other government department" type="checkbox">Other government department
                              </label>
                              
                              <label for="q7_proceedings_third_party" class="block-label">
                                <input name="q7_proceedings" id="q7_proceedings_third_party" value="Other third party regulator" type="checkbox">Other third party regulator
                              </label>
                              
                          </div>
                        </fieldset>
                        
                    </div>

                    
                    <fieldset class="inline">
                      <div class="form-group" role="group" aria-label="Are any of the directors of this company carrying on a successor business  that is using the same or substantially the same name or trading style as this one?" >
                        <legend class="bold-small">Are any of the directors of this company carrying on a successor business  that is using the same or substantially the same name or trading style as this one?</legend>

                          <label for="q8_similar_yes" class="block-label" data-target="q8-sub">
                            <input name="q8_similar" id="q8_similar_yes" value="Yes" type="radio" aria-controls="q8-sub">Yes
                          </label>

                           <label for="q8_similar_no" class="block-label">
                            <input name="q8_similar" id="q8_similar_no" value="No" type="radio">No
                          </label>
                      </div>
                    </fieldset>
                    
                    <div class="panel panel-border-narrow js-hidden" id="q8-sub">
                        <fieldset class="inline">
                          <div class="form-group" role="group" aria-label="Do any of the Section 216 exemptions apply?" >
                            <legend class="bold-small">Do any of the Section 216 exemptions apply?</legend>

                              <label for="q8_section216_yes" class="block-label">
                                <input name="q8_section216" id="q8_section216_yes" value="Yes" type="radio">Yes
                              </label>

                               <label for="q8_section216_no" class="block-label">
                                <input name="q8_section216" id="q8_section216_no" value="No" type="radio">No
                              </label>
                          </div>
                        </fieldset>
                    </div>
                    
                    <div>&nbsp;</div>
                    <div class="form-group">
                        <button class="button" role="button" aria-label="Save and continue">Save and continue</button>
                      </div>
                </form> 
                
                <a href="javascript:window.history.back();" class="link-back">Back</a>

            </div>
            

            
            <div class="column-one-third">
                <aside>
                    <!-- placeholder for download and other options -->
                </aside>
            </div>
            
        </div>

<!-- end of form -->
        
        

    </main>
    

    <!-- Page content goes here -->

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        

        <div class="footer-meta">
          <div class="footer-meta-inner">
            

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              
            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="../assets/javascripts/govuk-template.js" type="text/javascript"></script>
    <script src="../assets/javascripts/jquery.js" type="text/javascript"></script>
    
    <script src="../assets/javascripts/vendor/bind.js" type="text/javascript"></script>
    <script src="../assets/javascripts/selection-buttons.js" type="text/javascript"></script>
      
    <script src="../assets/javascripts/vendor/details.polyfill.js" type="text/javascript"></script>
    <script src="../assets/javascripts/application.js" type="text/javascript"></script>
  </body>
</html>
