<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>GOV.UK - The best place to find government services and information</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="../assets/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="../assets/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../assets/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../assets/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="../assets/stylesheets/govuk-template-print.css" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["../assets/stylesheets/fonts-ie8.css"]},
       c="../assets/javascripts/vendor/goog/webfont-debug.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="../assets/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="../assets/javascripts/ie.js" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../assets/images/apple-touch-icon-152x152.png">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../assets/images/apple-touch-icon-120x120.png">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../assets/images/apple-touch-icon-76x76.png">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-60x60.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="../assets/images/opengraph-image.png">
      
      
    <!--[if gt IE 8]><!--><link href="../assets/stylesheets/elements-page.css"  rel="stylesheet" type="text/css"><!--<![endif]-->
    <!--[if IE 6]><link href="../assets/stylesheets/elements-page-ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../assets/stylesheets/elements-page-ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../assets/stylesheets/elements-page-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    
<style>
    td span { display: block;}   

    .cas-case-wrapper { border: 0 solid #bfc1c3 ; margin-bottom: 15px; }
    .r-align { text-align: right; }
    .c-align { text-align: center; }
    .cas-case .content { padding: 15px; }
    .cas-case #companyDetails { background-color:#f8f8f8;  }
    .cas-case #dueDate span { 
        display: block; 
        padding: 2px 30px 0 0; 
        font-weight: 700; 
        color: white; 
        font-size: 19px;
        line-height: 1.3157894737; 
    }
    .cas-status-keys,
    .cas-filter-cases { margin-top: 15px; margin-bottom: 15px; }
    .cas-status-keys li { display: inline-block;  padding-left: 5px; /*width: 160px;*/ margin-right: 30px;  }
    .cas-status-keys .indicator { 
        display: block;
        width: 19px; 
        height:19px; 
        margin: 0 5px 15px 0; 
        
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
        float: left;
        border: 1px solid white;
    }
    .clearfix { clear: both;}
    
    .cas-status-in-progress{ background-color: #f0ad4e; }
    .cas-status-for-review { background-color: #5cb85c; }
    .cas-status-overdue { background-color: #d9534f; }
    .cas-status-not-started { background-color: #999; }
    
    /*
    .cas-case-wrapper.cas-status-in-progress { border-color: #f0ad4e; }
    .cas-case-wrapper.cas-status-for-review { border-color: #5cb85c; }
    .cas-case-wrapper.cas-status-overdue { border-color: #d9534f; }
    .cas-case-wrapper.cas-status-not-started { border-color: #999; }
    */
    
    .cas-status-off { background: none; border-color: #bfc1c3 !important; border-style: dotted; }
    
    .cas-load-more-wrapper { padding: 30px 0; text-align: center;}
    
    .cas-search-wrapper { text-align: center; }
    .cas-search-wrapper input[type="search"] { 
        width: 45%; 
        padding: 5px; 
        margin: 30px 0; 
    }


    input[type="submit"] {
        
        width: 35px;
        height: 35px;
        border: 1px solid #005ea5;
        border-width: 0 0 0 1px;
        border-left-color: #222;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        overflow: hidden;
        text-indent: -5000px;
        color: #fff;
        background-color: #005ea5;
        background-image: url(https://assets.digital.cabinet-office.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
        background-repeat: no-repeat;
        background-position: 0 50%;
        /*
        position: absolute;
        z-index: 4;
        right: 0;
        top: 0;
        */
    }
 
    
    .heading-2,
    .heading-3{     
        font-family: "nta",Arial,sans-serif;
        font-size: 24px;
        line-height: 1.25;
        font-weight: 700;
        text-transform: none; 
    }
    
    .heading-3 { font-size: 30px; }
    
    .muted-copy{ color:#BFC1C3;  }

</style>
    
  </head>

  <body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
      
    </div>
    <!--end global-cookie-message-->

    
    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="../assets/images/gov.uk_logotype_crown_invert_trans.png" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="index.html" id="proposition-name">Director Conduct Assessment Service</a>
              <ul id="proposition-links">
                <li><a href="dashboard.html">Insolvency cases</a></li>
                
                
                <li><a href="settings.html">Settings</a></li>
                <li><a href="client_logout.html">Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!--end header-->
    

    

    <div id="global-header-bar"></div>
    <!--end global-header-bar-->
      
      
    <div class="elements-index" id="content" role="main">
      <div class="phase-banner-beta">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="http://www.surveymonkey.com" target="_blank">feedback</a> will help us to improve it.</span>
        </p>
      </div>
        
      <div id="global-breadcrumb">
        <ol>
          <li><a href="index.html">Conduct Assessment Service</a></li>
          <li>Dashboard</li>
        </ol>
      </div>
        
      <div><!-- TO DO:  Place holder -- filtering and search --></div>

    
    <!--

        
      <div class="grid-row">
          <div class="column-two-thirds">
                <h3 class="heading-2">Sorry, we don't have anything to show you.</h3>
          </div>
      </div>

-->
        
      <div class="cas-search-wrapper">
        <form action="/g-cloud/search" method="get" class="search-box" role="search">
            <input type="search" class="text-box" name="q" placeholder="Search company name or registration number">
            <input class="submit" type="submit" value="Search">
        </form>  
      </div>
    
      <div class="cas-status-keys">
            <ul>
                <li><a href="#cas-status-overdue"><span>All</span> (10)</a></li>
                <li><a href="#cas-status-in-progress"><span>In progress</span> (3)</a></li>  
                <li><a href="#cas-status-for-review"><span>For review</span> (2)</a></li>  
                <li><a href="#cas-status-not-started"><span>Not started</span> (5)</a></li> 
                
                <!-- <li><i class="cas-status-submitted indicator cas-status-off"></i><a href="#">Submitted (0)</a></li> -->
            </ul>
            <div class="clearfix"><!-- clear --></div>
      </div>
    <!--
      <div class="column-one-quarter cas-filter-cases">
              
      </div>
      -->
      
      <div id="cas-cases-container">
          <div class="cas-case-wrapper cas-status-overdue">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">A. Datum Corporation ltd.</h3></li>
                            <li>Reg. 0192828 <span class="muted-copy">&middot; Case NCL9299290</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>For review</span>
                          <span>Overdue by 3 days</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>
          
          <div class="cas-case-wrapper cas-status-overdue">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">The baguette house ltd.</h3></li>
                            <li>Reg. 01112993 <span class="muted-copy">&middot; Case NCL9299290</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>In progress</span>
                          <span>Due in 1 day</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>
          
          <div class="cas-case-wrapper cas-status-overdue">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">Coho Vineyard &amp; Winery</h3></li>
                            <li>Reg. 01283838 <span class="muted-copy">&middot; Case NCL839828</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>In progress</span>
                          <span>Due in 2 days</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>
          
          <div class="cas-case-wrapper cas-status-overdue">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">Blue Yonder Airlines</h3></li>
                            <li>Reg. 01883736 <span class="muted-copy">&middot; Case NCL8767282</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>For review</span>
                          <span>Due in 10 days</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>
          
          
          <div class="cas-case-wrapper cas-status-in-progress">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">Parnell Aerospace</h3></li>
                            <li>Reg. 02929222 <span class="muted-copy">&middot; Case NCL982829</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>Not started</span>
                          <span>Due by 8-02-2016</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>
          
          <div class="cas-case-wrapper cas-status-in-progress">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">School of Fine Art</h3></li>
                            <li>Reg. 01112993 <span class="muted-copy">&middot; Case NCL9299290</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>In progress</span>
                          <span>Due by 17-02-2016</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>

          
          <div class="cas-case-wrapper cas-status-for-review">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">Lucerne Publishing</h3></li>
                            <li>Reg. 0837363 <span class="muted-copy">&middot; Case NCL8383910</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>Not started</span>
                          <span>Due by 20-04-2016</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>
          
          <div class="cas-case-wrapper cas-status-for-review">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">The Phone Company</h3></li>
                            <li>Reg. 07723663 <span class="muted-copy">&middot; Case NCL8381112</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>Not started</span>
                          <span>Due by 22-04-2016</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>
          
          <div class="cas-case-wrapper cas-status-for-review">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">Southbridge Video</h3></li>
                            <li>Reg. 099271623 <span class="muted-copy">&middot; Case NCL2662738</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>Not started</span>
                          <span>Due by 26-04-2016</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>
          
          <div class="cas-case-wrapper cas-status-for-review">
              <a href="case_1_office_holder.html">
              <div class="grid-row cas-case" >
                  <div class="column-two-thirds">
                      <div id="companyDetails" class="content">
                          <ul>
                            <li><h3 class="heading-2">Dog groomers ltd.</h3></li>
                            <li>Reg. 03838733 <span class="muted-copy">&middot; Case NCL82829190</span></li>
                          </ul>
                      </div>
                  </div>


                  <div class="column-one-third">
                      <div id="dueDate" class="c-align content">
                          <span>Not started</span>
                          <span>Due by 30-04-2016</span>
                      </div>
                  </div>
              </div>
              </a>
          </div>
          
          
      </div>
        

        
      <div class="cas-load-more-wrapper"><a href="#" class="btn-load-more bold-xsmall">Show more cases</a></div>

    </div>
    

    <!-- Page content goes here -->

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        

        <div class="footer-meta">
          <div class="footer-meta-inner">
            

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              
            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="../assets/javascripts/govuk-template.js" type="text/javascript"></script>
    <script src="../assets/javascripts/jquery.js" type="text/javascript"></script>

    <script>
        $(document).ready(function(){
            
             for(i=8; i<$('.cas-case-wrapper').length; i++){
                 $('.cas-case-wrapper:eq('+i+')').hide();
             }

            
            $('.btn-load-more').on('click', function(e){
                e.preventDefault();
                for(i=8; i<$('.cas-case-wrapper').length; i++){
                     $('.cas-case-wrapper:eq('+i+')').removeClass('hidden').slideDown();
                 }
                
                
                if($('.cas-case-wrapper.hidden').length == 0)
                    $('.btn-load-more').hide();
            });
            
            $('input[type="search"]').on('keyup', function(){
                var searchStr = $(this).val();
                $('.cas-case-wrapper').hide().each(function(){
                    var t = $(this).find('#companyDetails li').text().toLowerCase();
                    if(t.indexOf(searchStr) != -1)
                        $(this).show();
                }); 
            });
            
             $('.cas-status-keys a').on('click', function(e){
                e.preventDefault();
                 var searchStr = $(this).find('span').text().toLowerCase(),
                     _cnt = 0;
                 if( searchStr == 'all' )
                      $('.cas-case-wrapper').slideDown();
                 else
                     $('.cas-case-wrapper').each(function(){
                         var t = $(this).find('#dueDate').text().toLowerCase();
                         if(t.indexOf(searchStr) != -1)
                            $(this).slideDown();
                         else
                            $(this).slideUp();
                     });
             });
        });
    </script>
  </body>
</html>
