.panel-no-border {
    border-left-style: none;
    padding-left: 0;
    padding-top: 0;
}

.success-message {
    background-color: #dff0d8;
    border-color: #3c763d;
}


aside {
    /*
    display: block;
    margin-top: 3.5em;
    border-top: 10px solid #005ea5;
    padding-top: 25px;
    */
}

.panel[id*=sub] { margin-bottom: 30px; }

.company-director { margin-top: 30px; margin-bottom: 40px; }

.status { padding: 0 10px; color: white;  }
.status-pending { background-color: #f0ad4e;  }


.search-input-wrapper { width: 100%; margin: 0 auto;  }
.search-input-wrapper input[type="search"] {
  width: 60%;
  font-size: 160%;
  height: 54px;
  font-weight: bold;
  float: left;
  text-align: center;
}
.search-input-wrapper input[type="submit"] {
  float: left;
  border: none;
  width: 66px;
  height: 66px;
  text-indent: -10000px;
  cursor: pointer;
  background: #0b0c0c url(https://assets.digital.cabinet-office.gov.uk/frontend/homepage/search-button-085aa82ff641b5cfb3eb090c888459f96be271efe9c1d98a73c8a181202d9063.png) no-repeat -40px 50%;
}

form[role="search"] { position: relative;  }

.search-input-with-placeholder {
    z-index: 2;
    background: transparent;
    position: relative;
}


.search-input-placeholder {
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 15px;
    color: #BFC1C3;
    font-size: 30px;
    font-weight: bold;
    z-index: 1
}

form.focus .search-input-placeholder{ display: none; }


.cas-case-wrapper{ padding-bottom: 2em;border-bottom: 4px solid #f8f8f8; }

.cas-load-more-wrapper { padding-top: 50px; }

#dueDate { padding-top: 25px; margin-left: 40px; }
#dueDate span { color: white; display: block; padding: 5px; font-weight: 300; }
#dueDate .case-status { display: block; padding-top: 10px; }


#cas-status-keys a { color: #0B0C0C; text-decoration: none; padding: 10px 15px 10px 15px; background: #DEE0E2; margin-right: 1px; }
#cas-status-keys li.disabled a { cursor: default; color: #6F777B; }
#cas-status-keys li.disabled a.active { border-bottom: none; }
#cas-status-keys { border-bottom: 1px solid #BFC1C3; padding-top: 40px; padding-bottom: 10px; }
#cas-status-keys a.active { background-color: #005ea5; color: white; }

#reportBugWrapper { margin-top: 100px; }
#reportBugWrapper a { color: #6F777B; }
#reportBugWrapper .content { margin-top: 20px; }

.confirmation { color: white; background-color: #28A197; padding: 50px 30px; text-align: center; }

#collaboratorsList li { margin-bottom: 25px; }
#frmInviteCollaborators input[type="text"] { width: 100%; }

.info-container { padding: 30px; margin-top: 20px; }
.btn-skip-to-submit { margin-top: 10px; }

.list-submitted-cases ul { margin-top: 40px; }


.answer {
    background: #0B0C0C;
    color: #fff;
    padding: 15px;
}

.inline-answer {

    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    text-align: center;
}

.question-yes-no {
    padding-right: 100px;
    position: relative;
}

.grid-row .column-one-half:first-child pXX { text-align: right; }

.invisible { visibility: hidden; }
.blend-with-bg { color: white; }
.sticky-title {
  position: fixed;
  top: 30px;
}

.blend-with-bg a.link-back:link,
.blend-with-bg a.link-back:visited,
.blend-with-bg a.link-back:hover,
.blend-with-bg a.link-back:active { color: white; border-bottom: none; }

/** generic **/

.red-bg { background-color: #B10E1E; }
.amber-bg { background-color: #F47738; }
.green-bg { background-color: #85994B; }
.default-copy-colour { color: #0B0C0C; }
.hint { color: #6F777B; }
.light-bg { background-color: #F8F8F8;  border: 1px solid #DEE0E2; }
.clear-list-styling { list-style: none; }


.highlight-red { background-color: red; }
.highlight-grey { background-color: grey; }
.highlight { color: white; padding: 0 10px; }

.list-inline li { float: left; }
.clearfix { clear: both }
.c-align { text-align: center; }
.r-align { text-align: right; }
.curvify { border-radius: 3px; -moz-border-radius: 3px; -webkit-borders-radius: 3px; }
.phase-tag a{ color: white; text-decoration: none; }
.no-js-item { display: none; }
.list-clear-style { list-style: none; }

.related {
    border-top: 10px solid #005ea5;
    padding-top: 5px;
    margin-top: 3.5em;
}

#casePreview .p-group { margin-bottom: 0; }
#casePreview .section-divider { border-top: 2px solid #0B0C0C; padding-top: 30px; }
#casePreview .section-divider-no-border { padding-top: 32px; }
#casePreview h2 { margin-top: 0.15em; }
#casePreviewHeader p { margin-top: 4.5em; }

.p-group { margin-bottom: 0; }
.title-deco { border-top: 2px solid #0B0C0C; padding-top: 30px; }

.link-top { padding-left: 0;  }
.link-top::before { content: none; }


/*
aside ol { margin-left: 5px; }
aside h2 { margin-bottom: 10px; }

aside .list-links { list-style: none; }
aside .list-links li { background: url(../assets/images/to-do.png) bottom left no-repeat; padding-left: 25px; }
aside li.disabled-link { background-position: top left; }
aside li.disabled-link a { color: #6f777b; text-decoration: none;  }
*/

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


@media (max-width: 641px) {
    #cas-status-keys li { display: block; float: none; margin-bottom: 1px; }
    #cas-status-keys li a {  display: block; padding: 10px 5px; }
    #dueDate { margin-left: 0; padding-top: 0; }
    #dueDate.c-align { text-align: left; }
    .cas-case-wrapper a { text-decoration: none; }
    .search-input-placeholder { font-size: 18px; text-align: left; padding: 10px 0 0 10px; }
    .search-input-wrapper input[type="search"] { height: 38px; width: 99%; padding: 0; }
    .search-input-wrapper input[type="submit"] {
        width: 100%;
        background: #0b0c0c;
        color: white;
        text-indent: 0;
        font-size: 22px;
        margin-top: 3px;
        height: inherit;
        padding: 10px 0;
    }
}
