.panel-no-border { 
    border-left-style: none; 
    padding-left: 0; 
    padding-top: 0; 
}

.success-message {  
    background-color: #dff0d8;
    border-color: #3c763d;
}

.panel[id*=sub] { margin-bottom: 30px; }

.company-director { margin-top: 30px; margin-bottom: 40px; }

.status { padding: 0 10px; color: white;  }
.status-pending { background-color: #f0ad4e;  }


.search-input-wrapper { width: 100%; margin: 0 auto;  }
.search-input-wrapper input[type="search"] { 
  width: 60%; 
  font-size: 160%; 
  height: 54px; 
  font-weight: bold; 
  float: left; 
  text-align: center;
}
.search-input-wrapper input[type="submit"] { 
  float: left; 
  border: none; 
  width: 66px; 
  height: 66px; 
  text-indent: -10000px;
  cursor: pointer;
  background: #0b0c0c url(https://assets.digital.cabinet-office.gov.uk/frontend/homepage/search-button-085aa82ff641b5cfb3eb090c888459f96be271efe9c1d98a73c8a181202d9063.png) no-repeat -40px 50%;
}

form[role="search"] { position: relative;  }
            
.search-input-with-placeholder { 
    z-index: 2; 
    background: transparent; 
    position: relative;
}


.search-input-placeholder { 
    position: absolute; 
    width: 60%; 
    top: 0; 
    left: 0; 
    text-align: center; 
    padding: 15px; 
    color: #BFC1C3;  
    font-size: 30px;
    font-weight: bold;
    z-index: 1
}

form.focus .search-input-placeholder{ display: none; }


.cas-case-wrapper{ padding-bottom: 2em;border-bottom: 4px solid #f8f8f8; }

.cas-load-more-wrapper { padding-top: 50px; }

#dueDate { padding-top: 25px; margin-left: 40px; }
#dueDate span { color: white; display: block; padding: 5px; font-weight: 300; }
#dueDate .case-status { display: block; padding-top: 10px; }

#cas-status-keys li { margin: 40px 40px 20px 0; }
#cas-status-keys a { color: #0B0C0C; text-decoration: none; padding-bottom: 10px; }
#cas-status-keys a.active { border-bottom: 5px solid #0B0C0C; }
#cas-status-keys li.disabled a { cursor: default; color: #BFC1C3 }
#cas-status-keys li.disabled a.active { border-bottom: none; }

#reportBugWrapper { margin-top: 100px; }
#reportBugWrapper a { color: #6F777B; }
#reportBugWrapper .content { margin-top: 20px; }

.confirmation { color: white; background-color: #28A197; padding: 50px 30px; text-align: center; }


.list-submitted-cases ul { margin-top: 40px; }


/** generic **/

.red-bg { background-color: #B10E1E; }
.amber-bg { background-color: #F47738; }
.green-bg { background-color: #85994B; }
.default-copy-colour { color: #0B0C0C; }
.hint { color: #6F777B; }

.list-inline li { float: left; }
.clearfix { clear: both }
.c-align { text-align: center; }
.curvify { border-radius: 3px; -moz-border-radius: 3px; -webkit-borders-radius: 3px; }
.phase-tag a{ color: white; text-decoration: none; }
.no-js-item { display: none; }

/*
aside ol { margin-left: 5px; }
aside h2 { margin-bottom: 10px; }

aside .list-links { list-style: none; }
aside .list-links li { background: url(../assets/images/to-do.png) bottom left no-repeat; padding-left: 25px; }
aside li.disabled-link { background-position: top left; }
aside li.disabled-link a { color: #6f777b; text-decoration: none;  }
*/

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



  