@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
html {
	font-size: 62.5%;
}
a {
	text-decoration: none;
}
#logo {
	text-transform: none; line-height: 1.0937; font-family: sans-serif; font-size: 28pt; font-weight: bold; text-rendering: optimizeLegibility;
}
@media all and (min-width:641px)
{
#logo {
	line-height: 1.0416; font-size: 48px;
}
}
#logo img {
	width: 46px; height: 40px; padding-right: 6px; float: left; display: block;
}
main > header {
	position: relative;
}
main > header h1 {
	width: 80%; text-transform: none; line-height: 1.2; padding-bottom: 6pt; font-family: sans-serif; font-size: 16pt; font-weight: 400; border-bottom-color: black; border-bottom-width: 1pt; border-bottom-style: solid;
}
@media all and (min-width:641px)
{
main > header h1 {
	line-height: 1.25; font-size: 24px;
}
}
main > header p {
	width: 15%; text-align: center; right: 0px; bottom: -11pt; text-transform: uppercase; line-height: 1.25; padding-bottom: 6pt; font-family: sans-serif; font-size: 11pt; font-weight: 400; border-bottom-color: black; border-bottom-width: 1pt; border-bottom-style: solid; position: absolute;
}
@media all and (min-width:641px)
{
main > header p {
	line-height: 1.4285; font-size: 14px;
}
}
.content-block {
	width: 80%; margin-bottom: 1cm;
}
article {
	width: 80%; margin-bottom: 1cm;
}
.content-block header h1 {
	font-weight: bold;
}
.content-block h2 {
	font-weight: bold;
}
.content-block h3 {
	font-weight: bold;
}
.content-block h4 {
	font-weight: bold;
}
.content-block h5 {
	font-weight: bold;
}
.content-block h6 {
	font-weight: bold;
}
article header h1 {
	font-weight: bold;
}
article h2 {
	font-weight: bold;
}
article h3 {
	font-weight: bold;
}
article h4 {
	font-weight: bold;
}
article h5 {
	font-weight: bold;
}
article h6 {
	font-weight: bold;
}
.content-block h2 {
	orphans: 3; widows: 3;
}
.content-block h3 {
	orphans: 3; widows: 3;
}
.content-block h4 {
	orphans: 3; widows: 3;
}
.content-block p {
	orphans: 3; widows: 3;
}
.content-block ul {
	orphans: 3; widows: 3;
}
article h2 {
	orphans: 3; widows: 3;
}
article h3 {
	orphans: 3; widows: 3;
}
article h4 {
	orphans: 3; widows: 3;
}
article p {
	orphans: 3; widows: 3;
}
article ul {
	orphans: 3; widows: 3;
}
.content-block h2 {
	page-break-after: avoid;
}
.content-block h3 {
	page-break-after: avoid;
}
.content-block h4 {
	page-break-after: avoid;
}
.content-block .info-notice {
	page-break-after: avoid;
}
article h2 {
	page-break-after: avoid;
}
article h3 {
	page-break-after: avoid;
}
article h4 {
	page-break-after: avoid;
}
article .info-notice {
	page-break-after: avoid;
}
.content-block header h1 {
	text-transform: none; line-height: 1.25; padding-top: 7pt; padding-bottom: 7pt; font-family: sans-serif; font-size: 14pt; font-weight: 400; border-bottom-color: rgb(127, 127, 127); border-bottom-width: 1pt; border-bottom-style: solid;
}
article header h1 {
	text-transform: none; line-height: 1.25; padding-top: 7pt; padding-bottom: 7pt; font-family: sans-serif; font-size: 14pt; font-weight: 400; border-bottom-color: rgb(127, 127, 127); border-bottom-width: 1pt; border-bottom-style: solid;
}
@media all and (min-width:641px)
{
.content-block header h1 {
	line-height: 1.3157; font-size: 19px;
}
article header h1 {
	line-height: 1.3157; font-size: 19px;
}
}
.content-block h2 {
	text-transform: none; line-height: 1.25; padding-top: 7pt; font-family: sans-serif; font-size: 14pt; font-weight: 400;
}
article h2 {
	text-transform: none; line-height: 1.25; padding-top: 7pt; font-family: sans-serif; font-size: 14pt; font-weight: 400;
}
@media all and (min-width:641px)
{
.content-block h2 {
	line-height: 1.3157; font-size: 19px;
}
article h2 {
	line-height: 1.3157; font-size: 19px;
}
}
.content-block h3 {
	text-transform: none; line-height: 1.1428; font-family: sans-serif; font-size: 12pt; font-weight: 400;
}
article h3 {
	text-transform: none; line-height: 1.1428; font-family: sans-serif; font-size: 12pt; font-weight: 400;
}
@media all and (min-width:641px)
{
.content-block h3 {
	line-height: 1.25; font-size: 16px;
}
article h3 {
	line-height: 1.25; font-size: 16px;
}
}
.content-block h4 {
	text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 11pt; font-weight: 400;
}
article h4 {
	text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 11pt; font-weight: 400;
}
@media all and (min-width:641px)
{
.content-block h4 {
	line-height: 1.4285; font-size: 14px;
}
article h4 {
	line-height: 1.4285; font-size: 14px;
}
}
.content-block p {
	text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 11pt; font-weight: 400;
}
article p {
	text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 11pt; font-weight: 400;
}
@media all and (min-width:641px)
{
.content-block p {
	line-height: 1.4285; font-size: 14px;
}
article p {
	line-height: 1.4285; font-size: 14px;
}
}
.content-block ul {
	text-transform: none; line-height: 1.25; padding-left: 13pt; font-family: sans-serif; font-size: 11pt; font-weight: 400; list-style-type: disc; list-style-image: none;
}
.content-block ol {
	text-transform: none; line-height: 1.25; padding-left: 13pt; font-family: sans-serif; font-size: 11pt; font-weight: 400; list-style-type: disc; list-style-image: none;
}
article ul {
	text-transform: none; line-height: 1.25; padding-left: 13pt; font-family: sans-serif; font-size: 11pt; font-weight: 400; list-style-type: disc; list-style-image: none;
}
article ol {
	text-transform: none; line-height: 1.25; padding-left: 13pt; font-family: sans-serif; font-size: 11pt; font-weight: 400; list-style-type: disc; list-style-image: none;
}
@media all and (min-width:641px)
{
.content-block ul {
	line-height: 1.4285; font-size: 14px;
}
.content-block ol {
	line-height: 1.4285; font-size: 14px;
}
article ul {
	line-height: 1.4285; font-size: 14px;
}
article ol {
	line-height: 1.4285; font-size: 14px;
}
}
.content-block li {
	line-height: 1.5em;
}
article li {
	line-height: 1.5em;
}
.content-block li p {
	margin: 0px;
}
article li p {
	margin: 0px;
}
.content-block table {
	border: 1pt solid rgb(125, 125, 125); border-image: none; width: 100%; border-collapse: collapse;
}
article table {
	border: 1pt solid rgb(125, 125, 125); border-image: none; width: 100%; border-collapse: collapse;
}
.content-block table thead {
	display: table-header-group;
}
article table thead {
	display: table-header-group;
}
.content-block table th {
	padding: 0.25em 0.5em; border: 1pt solid rgb(125, 125, 125); border-image: none; text-align: left;
}
.content-block table td {
	padding: 0.25em 0.5em; border: 1pt solid rgb(125, 125, 125); border-image: none; text-align: left;
}
article table th {
	padding: 0.25em 0.5em; border: 1pt solid rgb(125, 125, 125); border-image: none; text-align: left;
}
article table td {
	padding: 0.25em 0.5em; border: 1pt solid rgb(125, 125, 125); border-image: none; text-align: left;
}
.content-block table td:nth-child(n+2) {
	text-align: right;
}
article table td:nth-child(n+2) {
	text-align: right;
}
.content-block table caption {
	margin: 14pt 0px; text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 14pt; font-weight: 400;
}
article table caption {
	margin: 14pt 0px; text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 14pt; font-weight: 400;
}
@media all and (min-width:641px)
{
.content-block table caption {
	line-height: 1.3157; font-size: 19px;
}
article table caption {
	line-height: 1.3157; font-size: 19px;
}
}
.content-block select {
	background: white;
}
article select {
	background: white;
}
.content-block .contact {
	margin: 14pt 0px; padding: 2pt; border: 1pt solid rgb(125, 125, 125); border-image: none;
}
.content-block .info-notice {
	margin: 14pt 0px; padding: 2pt; border: 1pt solid rgb(125, 125, 125); border-image: none;
}
.content-block .help-notice {
	margin: 14pt 0px; padding: 2pt; border: 1pt solid rgb(125, 125, 125); border-image: none;
}
article .contact {
	margin: 14pt 0px; padding: 2pt; border: 1pt solid rgb(125, 125, 125); border-image: none;
}
article .info-notice {
	margin: 14pt 0px; padding: 2pt; border: 1pt solid rgb(125, 125, 125); border-image: none;
}
article .help-notice {
	margin: 14pt 0px; padding: 2pt; border: 1pt solid rgb(125, 125, 125); border-image: none;
}
.content-block .info-notice p {
	margin-left: 30px; position: relative;
}
.content-block .help-notice p {
	margin-left: 30px; position: relative;
}
article .info-notice p {
	margin-left: 30px; position: relative;
}
article .help-notice p {
	margin-left: 30px; position: relative;
}
.content-block .info-notice p::before {
	left: -18px; top: -2px; text-transform: none; line-height: 1.1111; font-family: sans-serif; font-size: 16pt; font-weight: bold; position: absolute; content: "!";
}
.content-block .help-notice p::before {
	left: -18px; top: -2px; text-transform: none; line-height: 1.1111; font-family: sans-serif; font-size: 16pt; font-weight: bold; position: absolute; content: "!";
}
article .info-notice p::before {
	left: -18px; top: -2px; text-transform: none; line-height: 1.1111; font-family: sans-serif; font-size: 16pt; font-weight: bold; position: absolute; content: "!";
}
article .help-notice p::before {
	left: -18px; top: -2px; text-transform: none; line-height: 1.1111; font-family: sans-serif; font-size: 16pt; font-weight: bold; position: absolute; content: "!";
}
@media all and (min-width:641px)
{
.content-block .info-notice p::before {
	line-height: 1.1111; font-size: 27px;
}
.content-block .help-notice p::before {
	line-height: 1.1111; font-size: 27px;
}
article .info-notice p::before {
	line-height: 1.1111; font-size: 27px;
}
article .help-notice p::before {
	line-height: 1.1111; font-size: 27px;
}
}
.content-block .highlight-answer p {
	text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 14pt; font-weight: 400;
}
.content-block .highlighted-event p {
	text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 14pt; font-weight: 400;
}
article .highlight-answer p {
	text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 14pt; font-weight: 400;
}
article .highlighted-event p {
	text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 14pt; font-weight: 400;
}
@media all and (min-width:641px)
{
.content-block .highlight-answer p {
	line-height: 1.3157; font-size: 19px;
}
.content-block .highlighted-event p {
	line-height: 1.3157; font-size: 19px;
}
article .highlight-answer p {
	line-height: 1.3157; font-size: 19px;
}
article .highlighted-event p {
	line-height: 1.3157; font-size: 19px;
}
}
.content-block .highlight-answer p em {
	font-style: normal; font-weight: 700;
}
.content-block .highlighted-event p em {
	font-style: normal; font-weight: 700;
}
article .highlight-answer p em {
	font-style: normal; font-weight: 700;
}
article .highlighted-event p em {
	font-style: normal; font-weight: 700;
}
.print-link {
	display: none;
}
.player-container {
	display: none;
}
.video-transcript-toggle {
	display: none;
}
.modified-date {
	color: rgb(225, 225, 225); text-transform: none; line-height: 1.25; font-family: sans-serif; font-size: 11pt; font-weight: 400;
}
@media all and (min-width:641px)
{
.modified-date {
	line-height: 1.4285; font-size: 14px;
}
}
.modified-date::after {
	float: right; content: "\00A9  Crown Copyright";
}
#global-header #search {
	display: none;
}
#global-header .search-toggle {
	display: none;
}
#global-breadcrumb {
	display: none;
}
.done-questions .start-again {
	display: none;
}
.done-questions .question-number {
	display: none;
}
.done-questions li.done .undo {
	display: none;
}
.dont-print {
	display: none !important;
}
body #global-user-location {
	display: none !important;
}
body .related-positioning {
	display: none !important;
}
header.page-header div h1 span {
	display: none !important;
}
header nav {
	display: none !important;
}
body .actions {
	display: none !important;
}
#local-locator-form {
	display: none !important;
}
#location-loading {
	display: none !important;
}
#get-started {
	display: none !important;
}
.finding_location {
	display: none !important;
}
.found_location {
	display: none !important;
}
.loading_location {
	display: none !important;
}
.location_error {
	display: none !important;
}
#global-browser-prompt {
	display: none !important;
}
#user-satisfaction-survey {
	display: none !important;
}
.report-a-problem-toggle {
	display: none !important;
}
.report-a-problem-container {
	display: none !important;
}
.show-all-parts {
	display: none !important;
}
