<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>GOV.UK - The best place to find government services and information</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="../assets/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="../assets/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../assets/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../assets/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="../assets/stylesheets/govuk-template-print.css" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["../assets/stylesheets/fonts-ie8.css"]},
       c="../assets/javascripts/vendor/goog/webfont-debug.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="../assets/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="../assets/javascripts/ie.js" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../assets/images/apple-touch-icon-152x152.png">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../assets/images/apple-touch-icon-120x120.png">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../assets/images/apple-touch-icon-76x76.png">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-60x60.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="../assets/images/opengraph-image.png">
      
      
    <!--[if gt IE 8]><!--><link href="../assets/stylesheets/elements-page.css"  rel="stylesheet" type="text/css"><!--<![endif]-->
    <!--[if IE 6]><link href="../assets/stylesheets/elements-page-ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="../assets/stylesheets/elements-page-ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="../assets/stylesheets/elements-page-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
      
      <style>
          aside { display: block; margin-top: 3.5em; border-top: 10px solid #005ea5; padding-top: 25px; } 
          .lb  { margin-top: 20px; }
          aside ol { margin-left: 5px; }
          aside h2 { margin-bottom: 10px; }
          
          aside .list-links { list-style: none; }
          aside .list-links li { background: url(../assets/images/to-do.png) bottom left no-repeat; padding-left: 25px; }
          aside li.disabled-link { background-position: top left; }
          aside li.disabled-link a { color: #6f777b; text-decoration: none;  }
      </style>
    
    
  </head>

  <body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
      
    </div>
    <!--end global-cookie-message-->

    
    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="../assets/images/gov.uk_logotype_crown_invert_trans.png" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/" id="proposition-name">Conduct Assessment Service</a>
              <ul id="proposition-links">
                <li><a href="url-to-page-1" class="active">Dashboard</a></li>
                <li><a href="url-to-page-2">Submitted Cases</a></li>
                <li><a href="url-to-page-3">Manage Staff</a></li>
                <li><a href="url-to-page-4">Change Password</a></li>
                <li><a href="url-to-page-5">Logout</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
      

    <!--end header-->
    

    

    <div id="global-header-bar"></div>
    <!--end global-header-bar-->
      
      
    <main class="elements-index" id="content" role="main">
      <div class="phase-banner-beta">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
        
      <div id="global-breadcrumb">
        <ol>
          <li><a href="/">Conduct Assessment Service</a></li>
          <li><a href="/">Dashboard</a></li>
          <li>AdventureWorks Cycles Limited</li>
        </ol>
      </div>
    
    <!-- start of form -->
        
        <div class="grid-row">
            

            
            <div class="column-two-thirds">
                
                
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">NCL18829292</span>
                    AdventureWorks Cycles Limited
                </h1>
                
                
                <form role="form" method="post" action="case_3_company_directors.html" aria-label="Case information form">
                    <h1 class="form-title heading-large">Director details</h1>
                    
                    <fieldset class="inline">
                      <div class="form-group" role="group" aria-label="Appointment Status" >
                        <legend class="bold-small">Appointment status</legend>
                          <label for="appointment_status_dejure" class="block-label">
                            <input name="appointment_status" id="appointment_status_dejure" value="De jure" type="radio">De jure
                          </label>
                          <label for="appointment_status_defacto" class="block-label" data-target="appointment-status-sub">
                            <input name="appointment_status" id="appointment_status_defacto" value="De facto" type="radio" aria-controls="appointment-status-sub">De facto
                          </label>
                          <label for="appointment_status_shadow" class="block-label" data-target="appointment-status-sub">
                            <input name="appointment_status" id="appointment_status_shadow" value="Shadow" type="radio" aria-controls="appointment-status-sub">Shadow
                          </label>
                      </div>
                    </fieldset>
                    
                    <div class="panel panel-border-narrow js-hidden" id="appointment-status-sub">
                        <fieldset class="inline">
                          <div class="form-group" role="group" aria-label="What evidence is there to show that the person acted as a director?" >
                            <legend class="bold-small">What evidence is there to show that the person acted as a director?</legend>
                              <label for="as_evidence_one" class="block-label">
                                <input name="as_evidence" id="as_evidence_one" value="Company Books" type="radio">Company books
                              </label>

                              <label for="as_evidence_two" class="block-label">
                                <input name="as_evidence" id="as_evidence_two" value="Employees" type="radio">Employees
                              </label>

                               <label for="as_evidence_three" class="block-label">
                                <input name="as_evidence" id="as_evidence_three" value="Company accountant" type="radio">Company accountant
                              </label>
                              
                              <label for="as_evidence_four" class="block-label">
                                <input name="as_evidence" id="as_evidence_four" value="Bank" type="radio">Bank
                              </label>
                              
                              <label for="as_evidence_five" class="block-label">
                                <input name="as_evidence" id="as_evidence_five" value="3rd parties" type="radio">3rd parties
                              </label>
                              
                              <label for="as_evidence_six" class="block-label">
                                <input name="as_evidence" id="as_evidence_six" value="Hearsay" type="radio">Hearsay
                              </label>
                          </div>
                        </fieldset>
                    </div>
                    

                    <fieldset>
                      <div class="form-group" role="group" aria-label="Appointment date" >
                          
                          <legend class="bold-small">Appointment date</legend>
                          <div class="form-date">

                            <div class="form-group form-group-day" role="group" aria-label="Day">
                              <label for="ad-day">Day</label>
                              <input class="form-control" id="ad-day" name="ad-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>

                            <div class="form-group form-group-month" role="group" aria-label="Month">
                              <label for="ad-month">Month</label>
                              <input class="form-control" id="ad-month" name="ad-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>

                            <div class="form-group form-group-year" role="group" aria-label="Year">
                              <label for="ad-year">Year</label>
                              <input class="form-control" id="ad-year" name="ad-year" type="number" pattern="[0-9]*" min="0" max="2014">
                            </div>
                          </div>
                        </div>
                    </fieldset>
                    
                    
                    <fieldset>
                      <div class="form-group" role="group" aria-label="Termination date" >
                          <legend class="bold-small">Termination date</legend>
                          <div class="form-date">

                            <div class="form-group form-group-day" role="group" aria-label="Day">
                              <label for="td-day">Day</label>
                              <input class="form-control" id="td-day" name="td-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>

                            <div class="form-group form-group-month" role="group" aria-label="Month">
                              <label for="td-month">Month</label>
                              <input class="form-control" id="td-month" name="td-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>

                            <div class="form-group form-group-year" role="group" aria-label="Year">
                              <label for="td-year">Year</label>
                              <input class="form-control" id="td-year" name="td-year" type="number" pattern="[0-9]*" min="0" max="2014">
                            </div>
                          </div>
                        </div>
                    </fieldset>

                    
                    
                    <fieldset class="inline">
                        <div class="form-group" role="group" aria-label="Is director connected to 3 or more company failures in the last 5 years?" >
                          <legend class="bold-small">Is director connected to 3 or more company failures in the last 5 years?</legend>

                          <label class="block-label" for="director_question_1_yes">
                            <input id="director_question_1_yes" type="radio" name="director_question_1" value="Yes">
                            Yes
                          </label>
                          <label class="block-label" for="director_question_1_no">
                            <input id="director_question_1_no" type="radio" name="director_question_1" value="No">
                            No
                          </label>
                        </div>
                    </fieldset>
                    
                    
                    <fieldset class="inline">
                        <div class="form-group" role="group" aria-label="Has director given a personal guarantee for any of the company's debt?" >
                          <legend class="bold-small">Has director given a personal guarantee for any of the company's debt?</legend>

                          <label class="block-label" for="director_question_2_yes">
                            <input id="director_question_2_yes" type="radio" name="director_question_2" value="Yes">
                            Yes
                          </label>
                          <label class="block-label" for="director_question_2_no">
                            <input id="director_question_2_no" type="radio" name="director_question_2" value="No">
                            No
                          </label>
                        </div>
                    </fieldset>
                    
                    
                    <fieldset class="inline">
                        <div class="form-group" role="group" aria-label="Whilst the company was trading was the director either bankrupt, disqualified or otherwise restricted from acting?" >
                          <legend class="bold-small">Whilst the company was trading was the director either bankrupt, disqualified or otherwise restricted from acting?</legend>

                          <label class="block-label" for="director_question_3_yes" data-target="q3-sub">
                            <input id="director_question_3_yes" type="radio" name="director_question_3" value="Yes" aria-controls="q3-sub">
                            Yes
                          </label>
                          <label class="block-label" for="director_question_3_no">
                            <input id="director_question_3_no" type="radio" name="director_question_3" value="No">
                            No
                          </label>
                        </div>
                    </fieldset>
                    
                    
                    <div class="panel panel-border-narrow js-hidden" id="q3-sub">
                        <fieldset class="inline">
                          <div class="form-group" role="group" aria-label="What evidence is there that the person acted as a director whilst bankrupt, disqualified or otherwise restricted from acting?" >
                            <legend class="bold-small">What evidence is there that the person acted as a director whilst bankrupt, disqualified or otherwise restricted from acting?</legend>
                              <label for="q3_evidence_one" class="block-label">
                                <input name="q3_evidence" id="q3_evidence_one" value="Company Books" type="radio">Company books
                              </label>

                              <label for="q3_evidence_two" class="block-label">
                                <input name="q3_evidence" id="q3_evidence_two" value="Employees" type="radio">Employees
                              </label>

                               <label for="q3_evidence_three" class="block-label">
                                <input name="q3_evidence" id="q3_evidence_three" value="Company accountant" type="radio">Company accountant
                              </label>
                              
                              <label for="q3_evidence_four" class="block-label">
                                <input name="q3_evidence" id="q3_evidence_four" value="Bank" type="radio">Bank
                              </label>
                              
                              <label for="q3_evidence_five" class="block-label">
                                <input name="q3_evidence" id="q3_evidence_five" value="3rd parties" type="radio">3rd parties
                              </label>
                              
                              <label for="q3_evidence_six" class="block-label">
                                <input name="q3_evidence" id="q3_evidence_six" value="Hearsay" type="radio">Hearsay
                              </label>
                          </div>
                        </fieldset>
                    </div>
                    

                    
                    <div>&nbsp;</div>
                    <div class="form-group">
                        <button class="button" role="button" aria-label="Save and continue">Save and continue</button>
                      </div>
                </form> 
                
                <a href="javascript:window.history.back();" class="link-back">Back</a>

            </div>
            

            
            <div class="column-one-third">
                <aside class="related">
                    <!--
                    <h4 class="heading-medium">Assessment progress</h4>
                    <nav>
                        <ul class="list list-links">
                            <li><strong class="bold-small">Case details</strong></li>
                            <li><a href="#">Company details</a></li>
                            <li><a href="#">Company director details</a></li>
                            <li class="disabled-link"><a href="#">Company insolvency</a></li>
                            <li class="disabled-link"><a href="#">Books &amp; records</a></li>
                            <li class="disabled-link"><a href="#">Director conduct</a></li>
                        </ol>
                    </nav>
                    -->
  
                    
                     <div class="notice">
                        <i class="icon icon-file-download">
                          <span class="visuallyhidden">Warning</span>
                        </i>
                        <strong class="bold-small">
                          <a href="#">View PDF </a>
                        </strong>
                      </div>

                    
                </aside>
            </div>
            
        </div>

<!-- end of form -->
        
        

    </main>
    

    <!-- Page content goes here -->

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        

        <div class="footer-meta">
          <div class="footer-meta-inner">
            

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              
            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="../assets/javascripts/govuk-template.js" type="text/javascript"></script>
    <script src="../assets/javascripts/jquery.js" type="text/javascript"></script>
    
    <script src="../assets/javascripts/vendor/bind.js" type="text/javascript"></script>
    <script src="../assets/javascripts/selection-buttons.js" type="text/javascript"></script>
      
    <script src="../assets/javascripts/vendor/details.polyfill.js" type="text/javascript"></script>
    <script src="../assets/javascripts/application.js" type="text/javascript"></script>
  </body>
</html>
