.panel-no-border { 
    border-left-style: none; 
    padding-left: 0; 
    padding-top: 0; 
}

.success-message {  
    background-color: #dff0d8;
    border-color: #3c763d;
}


aside { 
    display: block; 
    margin-top: 3.5em; 
    border-top: 10px solid #005ea5; 
    padding-top: 25px; 
}

.panel[id*=sub] { margin-bottom: 30px; }

/*
aside ol { margin-left: 5px; }
aside h2 { margin-bottom: 10px; }

aside .list-links { list-style: none; }
aside .list-links li { background: url(../assets/images/to-do.png) bottom left no-repeat; padding-left: 25px; }
aside li.disabled-link { background-position: top left; }
aside li.disabled-link a { color: #6f777b; text-decoration: none;  }
*/