@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@font-face {
	font-family: GDS-Logo;
	src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
.govuk-document-footer::after {
	clear: both; display: block; content: "";
}
#footer .footer-categories::after {
	clear: both; display: block; content: "";
}
#global-header .header-wrapper .header-global .site-search::after {
	clear: both; display: block; content: "";
}
#global-header form#search .content::after {
	clear: both; display: block; content: "";
}
.govuk-govspeak .contact::after {
	clear: both; display: block; content: "";
}
.govuk-metadata::after {
	clear: both; display: block; content: "";
}
.report-a-problem-container {
	margin: 0px 15px; max-width: 960px;
}
.report-a-problem-toggle-wrapper {
	margin: 0px 15px; max-width: 960px;
}
@media all and (min-width:641px)
{
.report-a-problem-container {
	margin: 0px 30px;
}
.report-a-problem-toggle-wrapper {
	margin: 0px 30px;
}
}
@media all and (min-width:1020px)
{
.report-a-problem-container {
	margin: 0px auto;
}
.report-a-problem-toggle-wrapper {
	margin: 0px auto;
}
}
.govuk-document-footer {
	margin: 0px -15px;
}
.govuk-document-footer::after {
	clear: both; display: block; content: "";
}
#footer .footer-categories::after {
	clear: both; display: block; content: "";
}
#global-header .header-wrapper .header-global .site-search::after {
	clear: both; display: block; content: "";
}
#global-header form#search .content::after {
	clear: both; display: block; content: "";
}
.govuk-govspeak .contact::after {
	clear: both; display: block; content: "";
}
.govuk-metadata::after {
	clear: both; display: block; content: "";
}
.draft main {
	background-position: 50% 0px; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/draft-watermark-5c5cf93722a74cb783e84e85ba282e7e.png"); background-repeat: repeat-y;
}
#footer {
	border-top-color: rgb(0, 94, 165); border-top-width: 10px; border-top-style: solid;
}
@media all and (min-width:641px)
{
#footer .footer-categories {
	padding: 0px 15px 30px;
}
}
@media all and (min-width:641px)
{
#footer .footer-categories .footer-explore {
	width: 66.66%; padding-bottom: 60px; float: left;
}
#footer .footer-categories .footer-inside-government {
	width: 66.66%; padding-bottom: 60px; float: left;
}
}
#footer .footer-categories .footer-explore h2 {
	margin: 0px 15px; padding: 10px 0px 0px;
}
#footer .footer-categories .footer-inside-government h2 {
	margin: 0px 15px; padding: 10px 0px 0px;
}
@media all and (min-width:641px)
{
#footer .footer-categories .footer-explore h2 {
	padding: 0px 0px 20px; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
#footer .footer-categories .footer-inside-government h2 {
	padding: 0px 0px 20px; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
}
#footer .footer-categories hr {
	border-width: 1px 0px 0px; border-style: solid; border-color: rgb(191, 193, 195); margin: 0px 15px 30px; border-image: none; clear: both;
}
@media all and (min-width:641px)
{
#footer .footer-categories hr {
	margin-bottom: 0px;
}
}
#footer .footer-categories ul {
	list-style: none; margin: 0px; padding: 0px; text-transform: none; line-height: 1.1428; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 400;
}
@media all and (min-width:641px)
{
#footer .footer-categories ul {
	line-height: 1.25; font-size: 16px;
}
}
@media all and (min-width:641px)
{
#footer .footer-categories ul {
	margin: 15px 0px 0px; width: 50%; float: left;
}
}
#footer .footer-categories ul li {
	margin: 0px 15px 5px; padding: 10px 0px 0px; display: block;
}
@media all and (min-width:641px)
{
#footer .footer-categories ul li {
	margin: 0px 15px; padding: 20px 0px 0px;
}
}
@media all and (min-width:641px)
{
#footer .footer-categories .footer-inside-government {
	width: 33.33%; float: left;
}
#footer .footer-categories .footer-inside-government ul li {
	width: 100%;
}
}
.govuk-document-footer::after {
	clear: both; display: block; content: "";
}
#footer .footer-categories::after {
	clear: both; display: block; content: "";
}
#global-header .header-wrapper .header-global .site-search::after {
	clear: both; display: block; content: "";
}
#global-header form#search .content::after {
	clear: both; display: block; content: "";
}
.govuk-govspeak .contact::after {
	clear: both; display: block; content: "";
}
.govuk-metadata::after {
	clear: both; display: block; content: "";
}
#global-header .header-wrapper .header-global .site-search {
	width: 49%; float: right;
}
@media all and (min-width:769px)
{
#global-header .header-wrapper .header-global .site-search {
	width: 33.33%;
}
}
@media screen and (max-width:379px)
{
#global-header .header-wrapper .header-global .site-search {
	width: auto; float: none;
}
}
#global-header .header-wrapper .header-global .site-search .content {
	margin: 0px 15px;
}
.with-proposition#global-header #search {
	margin-top: 4px;
}
#global-header .search-toggle {
	display: none;
}
@media screen and (max-width:379px)
{
#global-header .search-toggle {
	background-position: 0px 50%; margin: -32px 15px; padding: 0px; width: 36px; height: 30px; text-indent: -5000px; overflow: hidden; float: right; display: block; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/search-button-686bc7b2e0a29a7e9fad62a271bc8662.png"); background-repeat: no-repeat; background-color: rgb(0, 94, 165);
}
body.search #global-header .search-toggle {
	display: none;
}
}
@media not all, not all, not all, not all, only screen and (max-width:379px) and (min-resolution:192dpi), not all
{
#global-header .search-toggle {
	background-position: 100% 50%; background-size: 52.5px 35px;
}
}
#global-header .search-toggle:hover {
	background-color: rgb(0, 79, 139);
}
#global-header .js-hidden.search-toggle {
	display: none;
}
#global-header form#search .content {
	background: rgb(255, 255, 255); position: relative;
}
#global-header form#search label {
	height: 35px; line-height: 35px; text-indent: 15px; overflow: hidden; margin-right: 10px; float: left; display: block;
}
.js-enabled #global-header form#search label {
	left: 0px; top: 1px; width: 100%; margin-right: 0px; float: none; position: absolute; z-index: 1;
}
#global-header form#search input {
	margin: 0px; padding: 6px 0px; border: 0px currentColor; border-image: none; width: 50%; height: 35px; float: left; display: block; min-width: 0px; box-sizing: border-box; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-appearance: none;
}
#global-header form#search input#site-search-text {
	background: none; padding: 6px; text-transform: none; line-height: 1.7692; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 400; position: relative; z-index: 3;
}
@media all and (min-width:641px)
{
#global-header form#search input#site-search-text {
	line-height: 1.4375; font-size: 16px;
}
}
#global-header form#search input.focus#site-search-text {
	background: rgb(255, 255, 255);
}
#global-header form#search input#site-search-text:focus {
	background: rgb(255, 255, 255);
}
.js-enabled #global-header form#search input#site-search-text {
	width: calc(100% - 37px);
}
#global-header form#search input.submit {
	background-position: 0px 50%; border-width: 0px 0px 0px 1px; border-style: solid; border-color: rgb(0, 94, 165) rgb(0, 94, 165) rgb(0, 94, 165) rgb(34, 34, 34); border-radius: 0px; border-image: none; top: 0px; width: 35px; height: 35px; right: 0px; color: rgb(255, 255, 255); text-indent: -5000px; overflow: hidden; position: absolute; z-index: 4; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/search-button-686bc7b2e0a29a7e9fad62a271bc8662.png"); background-repeat: no-repeat; background-color: rgb(0, 94, 165); -webkit-border-radius: 0; -moz-border-radius: 0;
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
#global-header form#search input.submit {
	background-position: 100% 50%; background-size: 52.5px 35px;
}
}
#global-header form#search input.submit:hover {
	background-color: rgb(0, 79, 139);
}
@media screen and (max-width:379px)
{
#global-header form#search {
	width: 100%; display: none;
}
#global-header form#search #site-search-text {
	width: 80%;
}
}
#global-header form.js-visible#search {
	display: block;
}
#global-browser-prompt {
	display: none;
}
#global-browser-prompt {
	padding: 0.5em 2em;
}
#global-browser-prompt p {
	margin: 0px auto; text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 400; max-width: 960px;
}
@media all and (min-width:641px)
{
#global-browser-prompt p {
	line-height: 1.3157; font-size: 19px;
}
}
@media all and (max-width:640px)
{
#global-browser-prompt {
	padding: 0.5em 1em;
}
}
#global-browser-prompt {
	background-color: rgb(213, 232, 243);
}
#global-browser-prompt p {
	padding-right: 20px; position: relative; max-width: 940px;
}
#global-browser-prompt .dismiss {
	background-position: right; width: 10px; height: 22px; right: 0px; text-indent: -9999px; text-decoration: none; display: inline-block; position: absolute; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/close-f2d962b4fa4792f0508e2e8b0b9524c4.png"); background-repeat: no-repeat; background-color: transparent;
}
#global-breadcrumb {
	margin: 0px auto; z-index: 50; max-width: 1020px; background-color: rgb(255, 255, 255);
}
@media all and (max-width:640px)
{
#global-breadcrumb {
	padding: 0px 1em;
}
}
#global-breadcrumb ol {
	margin: 0px 30px; padding: 0.75em 0px; max-width: 960px;
}
@media all and (max-width:640px)
{
#global-breadcrumb ol {
	margin: 0px;
}
}
#global-breadcrumb ol li {
	background-position: 100% 50%; list-style: none; text-transform: none; line-height: 1.1428; padding-right: 1em; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 400; margin-right: 0.5em; margin-bottom: 0.4em; margin-left: 0px; float: left; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/separator-cdeb08166e771d0c630c018110044965.png"); background-repeat: no-repeat;
}
@media all and (min-width:641px)
{
#global-breadcrumb ol li {
	line-height: 1.25; font-size: 16px;
}
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
#global-breadcrumb ol li {
	background-image: url("https://assets.digital.cabinet-office.gov.uk/static/separator-2x-86de166c81b8da1d86155349a4357fc8.png"); background-size: 6px 11px;
}
}
#global-breadcrumb ol li a {
	color: rgb(11, 12, 12);
}
#global-breadcrumb ol li strong {
	font-weight: normal;
}
#global-breadcrumb ol li:last-child {
	margin-right: 0px; background-image: none;
}
#user-satisfaction-survey {
	padding: 0.5em 0px; color: rgb(255, 255, 255); display: none; background-color: rgb(43, 53, 139);
}
@media all and (min-width:769px)
{
.visible#user-satisfaction-survey {
	display: block;
}
}
#user-satisfaction-survey .wrapper {
	margin: 0px auto; padding: 0px 15px; clear: both; max-width: 990px;
}
#user-satisfaction-survey .wrapper h1 {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 700; margin-left: 20px;
}
@media all and (min-width:641px)
{
#user-satisfaction-survey .wrapper h1 {
	line-height: 1.3157; font-size: 19px;
}
}
#user-satisfaction-survey .wrapper p {
	margin: 0px 0px 0px 20px; text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 12px; font-weight: 400;
}
@media all and (min-width:641px)
{
#user-satisfaction-survey .wrapper p {
	line-height: 1.4285; font-size: 14px;
}
}
#user-satisfaction-survey .wrapper p a:link {
	color: rgb(255, 255, 255);
}
#user-satisfaction-survey .wrapper p a:active {
	color: rgb(255, 255, 255);
}
#user-satisfaction-survey .wrapper p a:visited {
	color: rgb(255, 255, 255);
}
#user-satisfaction-survey .wrapper p a:hover {
	color: rgb(255, 255, 255);
}
#user-satisfaction-survey .wrapper p a#take-survey {
	text-transform: none; line-height: 1.25; padding-right: 5px; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 400;
}
@media all and (min-width:641px)
{
#user-satisfaction-survey .wrapper p a#take-survey {
	line-height: 1.3157; font-size: 19px;
}
}
#user-satisfaction-survey .wrapper p.right {
	margin: -20px 20px 0px 0px; float: right;
}
.js-enabled .report-a-problem-container {
	display: none;
}
.report-a-problem-container {
	clear: both;
}
.report-a-problem-container .report-a-problem-inner {
	margin-bottom: 60px;
}
.report-a-problem-container .report-a-problem-inner .report-a-problem-content {
	max-width: 35em;
}
.report-a-problem-container h2 {
	margin: 1em 0px; text-transform: none; line-height: 1.2; font-family: "nta",Arial,sans-serif; font-size: 18px; font-weight: 600;
}
@media all and (min-width:641px)
{
.report-a-problem-container h2 {
	line-height: 1.25; font-size: 24px;
}
}
.report-a-problem-container .button-wrapper {
	padding-top: 0.5em;
}
.report-a-problem-container .button-wrapper .button {
	padding: 0.3em 0.6em 0.2em; border-radius: 0px; border: currentColor; border-image: none; color: rgb(255, 255, 255); text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 400; text-decoration: none; display: inline-block; position: relative; cursor: pointer; box-shadow: 0px 2px 0px #003518; background-color: rgb(0, 130, 59); -webkit-font-smoothing: antialiased; -webkit-appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; -webkit-box-shadow: 0 2px 0 #003518; -moz-box-shadow: 0 2px 0 #003518;
}
.report-a-problem-container .button-wrapper .button:visited {
	background-color: rgb(0, 130, 59);
}
.report-a-problem-container .button-wrapper .button:hover {
	background-color: rgb(0, 105, 47);
}
.report-a-problem-container .button-wrapper .button:focus {
	background-color: rgb(0, 105, 47);
}
.report-a-problem-container .button-wrapper .button:active {
	top: 2px; box-shadow: 0px 0px 0px #00823b; -webkit-box-shadow: 0 0 0 #00823b; -moz-box-shadow: 0 0 0 #00823b;
}
.report-a-problem-container .button-wrapper .disabled.button {
	-ms-zoom: 1; opacity: 0.5;
}
.report-a-problem-container .button-wrapper [disabled='disabled'].button {
	-ms-zoom: 1; opacity: 0.5;
}
.report-a-problem-container .button-wrapper [disabled].button {
	-ms-zoom: 1; opacity: 0.5;
}
.report-a-problem-container .button-wrapper .disabled.button:hover {
	cursor: default; background-color: rgb(0, 130, 59);
}
.report-a-problem-container .button-wrapper [disabled='disabled'].button:hover {
	cursor: default; background-color: rgb(0, 130, 59);
}
.report-a-problem-container .button-wrapper [disabled].button:hover {
	cursor: default; background-color: rgb(0, 130, 59);
}
.report-a-problem-container .button-wrapper .disabled.button:active {
	top: 0px; box-shadow: 0px 2px 0px #003518; -webkit-box-shadow: 0 2px 0 #003518; -moz-box-shadow: 0 2px 0 #003518;
}
.report-a-problem-container .button-wrapper [disabled='disabled'].button:active {
	top: 0px; box-shadow: 0px 2px 0px #003518; -webkit-box-shadow: 0 2px 0 #003518; -moz-box-shadow: 0 2px 0 #003518;
}
.report-a-problem-container .button-wrapper [disabled].button:active {
	top: 0px; box-shadow: 0px 2px 0px #003518; -webkit-box-shadow: 0 2px 0 #003518; -moz-box-shadow: 0 2px 0 #003518;
}
.report-a-problem-container .button-wrapper .button:link {
	color: rgb(255, 255, 255);
}
.report-a-problem-container .button-wrapper .button:hover {
	color: rgb(255, 255, 255);
}
.report-a-problem-container .button-wrapper .button:focus {
	color: rgb(255, 255, 255);
}
.report-a-problem-container .button-wrapper .button:visited {
	color: rgb(255, 255, 255);
}
.report-a-problem-container .button-wrapper .button::before {
	background: none; left: 0px; top: 0px; width: 100%; height: 110%; display: block; position: absolute; content: "";
}
.report-a-problem-container .button-wrapper .button:active::before {
	top: -10%; height: 120%;
}
.report-a-problem-container .button-wrapper [rel='external'].button::after {
	margin-right: 0px; margin-left: 0px; display: none; content: none;
}
@media all and (min-width:641px)
{
.report-a-problem-container .button-wrapper .button {
	line-height: 1.3157; font-size: 19px;
}
}
.report-a-problem-container p {
	text-transform: none; line-height: 1.25; padding-bottom: 1em; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 400;
}
@media all and (min-width:641px)
{
.report-a-problem-container p {
	line-height: 1.3157; font-size: 19px;
}
}
.report-a-problem-container label {
	margin: 0px 0px 0.22em; padding: 0px; text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: bold; display: block;
}
@media all and (min-width:641px)
{
.report-a-problem-container label {
	line-height: 1.3157; font-size: 19px;
}
}
.report-a-problem-container input[type='text'] {
	margin: 0px 0px 1em; padding: 0.3em 0px 0.1em 0.4em; border: 1px inset rgb(191, 193, 195); border-image: none; width: 95%; text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 400; display: block; background-color: rgb(248, 248, 248);
}
@media all and (min-width:641px)
{
.report-a-problem-container input[type='text'] {
	line-height: 1.3157; font-size: 19px;
}
}
.report-a-problem-toggle {
	text-transform: none; line-height: 1.1428; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 400; margin-bottom: 30px;
}
@media all and (min-width:641px)
{
.report-a-problem-toggle {
	line-height: 1.25; font-size: 16px;
}
}
.report-a-problem-toggle a {
	color: rgb(111, 119, 123) !important; text-decoration: underline !important;
}
@media all and (max-width:640px)
{
.js-tab-content .report-a-problem-toggle {
	margin-top: 2em;
}
}
.report-a-problem-toggle-wrapper {
	clear: both;
}
.govuk-document-footer::after {
	clear: both; display: block; content: "";
}
#footer .footer-categories::after {
	clear: both; display: block; content: "";
}
#global-header .header-wrapper .header-global .site-search::after {
	clear: both; display: block; content: "";
}
#global-header form#search .content::after {
	clear: both; display: block; content: "";
}
.govuk-govspeak .contact::after {
	clear: both; display: block; content: "";
}
.govuk-metadata::after {
	clear: both; display: block; content: "";
}
.govuk-document-footer::after {
	clear: both; display: block; content: "";
}
#footer .footer-categories::after {
	clear: both; display: block; content: "";
}
#global-header .header-wrapper .header-global .site-search::after {
	clear: both; display: block; content: "";
}
#global-header form#search .content::after {
	clear: both; display: block; content: "";
}
.govuk-govspeak .contact::after {
	clear: both; display: block; content: "";
}
.govuk-metadata::after {
	clear: both; display: block; content: "";
}
.report-a-problem-container {
	margin: 0px 15px; max-width: 960px;
}
.report-a-problem-toggle-wrapper {
	margin: 0px 15px; max-width: 960px;
}
@media all and (min-width:641px)
{
.report-a-problem-container {
	margin: 0px 30px;
}
.report-a-problem-toggle-wrapper {
	margin: 0px 30px;
}
}
@media all and (min-width:1020px)
{
.report-a-problem-container {
	margin: 0px auto;
}
.report-a-problem-toggle-wrapper {
	margin: 0px auto;
}
}
.govuk-document-footer {
	margin: 0px -15px;
}
.govuk-alpha-label {
	padding: 10px 0px 8px; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
@media all and (min-width:641px)
{
.govuk-alpha-label {
	padding-bottom: 10px;
}
}
.govuk-alpha-label p {
	margin: 0px; color: rgb(0, 0, 0); text-transform: none; line-height: 1.1428; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 400;
}
@media all and (min-width:641px)
{
.govuk-alpha-label p {
	line-height: 1.25; font-size: 16px;
}
}
.govuk-alpha-label .phase-tag {
	margin: 0px 8px 0px 0px; padding: 2px 5px 0px; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 1.1428; letter-spacing: 1px; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 700; text-decoration: none; vertical-align: top; display: inline-block; background-color: rgb(213, 56, 128);
}
@media all and (min-width:641px)
{
.govuk-alpha-label .phase-tag {
	vertical-align: baseline;
}
}
@media all and (min-width:641px)
{
.govuk-alpha-label .phase-tag {
	line-height: 1.25; font-size: 16px;
}
}
.govuk-alpha-label span {
	vertical-align: top;
}
@media all and (min-width:641px)
{
.govuk-alpha-label span {
	vertical-align: baseline;
}
}
.govuk-beta-label {
	padding: 10px 0px 8px; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
@media all and (min-width:641px)
{
.govuk-beta-label {
	padding-bottom: 10px;
}
}
.govuk-beta-label p {
	margin: 0px; color: rgb(0, 0, 0); text-transform: none; line-height: 1.1428; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 400;
}
@media all and (min-width:641px)
{
.govuk-beta-label p {
	line-height: 1.25; font-size: 16px;
}
}
.govuk-beta-label .phase-tag {
	margin: 0px 8px 0px 0px; padding: 2px 5px 0px; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 1.1428; letter-spacing: 1px; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 700; text-decoration: none; vertical-align: top; display: inline-block; background-color: rgb(244, 119, 56);
}
@media all and (min-width:641px)
{
.govuk-beta-label .phase-tag {
	vertical-align: baseline;
}
}
@media all and (min-width:641px)
{
.govuk-beta-label .phase-tag {
	line-height: 1.25; font-size: 16px;
}
}
.govuk-beta-label span {
	vertical-align: top;
}
@media all and (min-width:641px)
{
.govuk-beta-label span {
	vertical-align: baseline;
}
}
.govuk-document-footer {
	text-transform: none; line-height: 1.1428; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 400; margin-top: 45px;
}
@media all and (min-width:641px)
{
.govuk-document-footer {
	line-height: 1.25; font-size: 16px;
}
}
.direction-rtl.govuk-document-footer {
	direction: rtl;
}
.govuk-document-footer .history-information {
	padding: 0px 15px; min-height: 1em; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
@media all and (min-width:641px)
{
.govuk-document-footer .history-information {
	width: 33.33%; float: left;
}
}
.direction-rtl.govuk-document-footer .history-information {
	padding: 0px 15px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
@media all and (min-width:641px)
{
.direction-rtl.govuk-document-footer .history-information {
	width: 33.33%; float: right;
}
}
.govuk-document-footer .related-information {
	padding: 0px 15px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
@media all and (min-width:641px)
{
.govuk-document-footer .related-information {
	width: 66.66%; float: left;
}
}
.direction-rtl.govuk-document-footer .related-information {
	padding: 0px 15px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
@media all and (min-width:641px)
{
.direction-rtl.govuk-document-footer .related-information {
	width: 66.66%; float: right;
}
}
.govuk-document-footer p {
	margin-bottom: 10px;
}
.govuk-document-footer ol {
	margin-bottom: 10px;
}
@media all and (min-width:641px)
{
.govuk-document-footer p {
	margin-bottom: 20px;
}
.govuk-document-footer ol {
	margin-bottom: 20px;
}
}
.govuk-document-footer .definition {
	text-transform: none; line-height: 1.2; font-family: "nta",Arial,sans-serif; font-size: 18px; font-weight: 700; margin-top: 5px; display: block;
}
@media all and (min-width:641px)
{
.govuk-document-footer .definition {
	line-height: 1.25; font-size: 24px;
}
}
.govuk-document-footer .definition a {
	text-decoration: none;
}
.govuk-document-footer .change-notes .timestamp {
	font-weight: bold; display: block;
}
.govuk-document-footer .change-notes li {
	list-style: none; margin-bottom: 5px;
}
@media all and (min-width:641px)
{
.govuk-document-footer .change-notes li {
	margin-bottom: 10px;
}
}
.govuk-govspeak .mc-chart {
	padding: 16px 0px; border: 1px solid rgb(255, 255, 255); border-image: none; width: 100%; font-size: 16px; margin-bottom: 16px; display: table; position: relative; border-spacing: 0 5px;
}
.govuk-govspeak .mc-chart .mc-caption {
	margin: 16px 0px; text-align: center; font-size: 16px; display: table-caption; caption-side: top;
}
.govuk-govspeak .mc-chart .mc-thead {
	padding: 5px; border: 1px solid rgb(255, 255, 255); border-image: none; display: table-header-group; background-color: rgb(255, 255, 255);
}
.govuk-govspeak .mc-chart .mc-thead .mc-th {
	display: none;
}
.govuk-govspeak .mc-chart .mc-thead .mc-key-header {
	width: 100%; text-align: left; padding-left: 5px; font-weight: normal; margin-bottom: 5px; margin-left: 100%; border-left-color: currentColor; border-left-width: 16px; border-left-style: solid; display: block;
}
.govuk-govspeak .mc-chart .mc-thead :last-child.mc-key-header {
	margin-bottom: 0px;
}
.govuk-govspeak .mc-chart .mc-thead .mc-key-1 {
	border-left-color: rgb(43, 140, 196);
}
.govuk-govspeak .mc-chart .mc-thead .mc-key-2 {
	border-left-color: rgb(40, 161, 151);
}
.govuk-govspeak .mc-chart .mc-thead .mc-key-3 {
	border-left-color: rgb(0, 100, 53);
}
.govuk-govspeak .mc-chart .mc-thead .mc-key-4 {
	border-left-color: rgb(133, 153, 75);
}
.govuk-govspeak .mc-chart .mc-thead .mc-key-5 {
	border-left-color: rgb(255, 191, 71);
}
.govuk-govspeak .mc-chart .mc-thead .mc-key-6 {
	border-left-color: rgb(244, 119, 56);
}
.govuk-govspeak .mc-chart .mc-thead .mc-key-7 {
	border-left-color: rgb(177, 14, 30);
}
.govuk-govspeak .mc-chart .mc-thead .mc-key-8 {
	border-left-color: rgb(223, 48, 52);
}
.govuk-govspeak .right-key.mc-chart .mc-thead {
	top: 100px; position: absolute;
}
.govuk-govspeak .left-key.mc-chart .mc-thead {
	top: 100px; position: absolute;
}
.govuk-govspeak .right-key.mc-chart .mc-thead .mc-key-header {
	margin-left: 0px;
}
.govuk-govspeak .left-key.mc-chart .mc-thead .mc-key-header {
	margin-left: 0px;
}
.govuk-govspeak .right-key.mc-chart .mc-thead {
	right: 26px;
}
.govuk-govspeak .left-key.mc-chart .mc-thead {
	left: 26px;
}
.govuk-govspeak .no-key.mc-chart .mc-thead {
	display: none;
}
.govuk-govspeak .mc-chart .mc-tbody {
	display: table-row-group;
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr {
	display: table-row;
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-cell {
	border: 0px solid currentColor; border-image: none; padding-right: 5px; margin-right: 1px; box-sizing: border-box;
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-key-cell {
	border: 0px solid currentColor; border-image: none; padding-right: 5px; margin-right: 1px; box-sizing: border-box;
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-cell {
	padding: 8px 0px; text-align: left; color: rgb(255, 255, 255); text-indent: 8px; margin-bottom: 1px; display: block;
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-1 {
	background-color: rgb(43, 140, 196);
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-2 {
	background-color: rgb(40, 161, 151);
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-3 {
	background-color: rgb(0, 100, 53);
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-4 {
	background-color: rgb(133, 153, 75);
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-5 {
	background-color: rgb(255, 191, 71);
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-6 {
	background-color: rgb(244, 119, 56);
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-7 {
	background-color: rgb(177, 14, 30);
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-8 {
	background-color: rgb(223, 48, 52);
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-bar-negative {
	text-align: right; padding-right: 8px;
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-value-overflow {
	text-indent: -99999px !important;
}
.govuk-govspeak .mc-chart .mc-tbody .mc-tr .mc-key-cell {
	width: 40%; text-align: right; text-indent: 26px; vertical-align: middle; display: table-cell;
}
.govuk-govspeak .mc-stacked.mc-chart .mc-stacked-header {
	display: none;
}
.govuk-govspeak .mc-stacked.mc-chart :nth-last-child(2).mc-th {
	margin-bottom: 0px;
}
.govuk-govspeak .mc-stacked.mc-chart .mc-stacked-total {
	padding: 8px 0px; color: rgb(11, 12, 12); text-indent: 5px; display: inline-block; background-color: transparent !important;
}
.govuk-govspeak .mc-stacked.mc-chart .mc-tbody .mc-bar-cell {
	display: inline-block;
}
.govuk-govspeak .compact.mc-chart .mc-bar-cell.mc-td {
	padding: 0px; text-indent: 2px; font-size: 12px;
}
.govuk-govspeak .mc-chart .mc-tr .mc-bar-1.mc-bar-cell.mc-td {
	background-color: rgb(43, 140, 196);
}
.govuk-govspeak .mc-chart .mc-tr .mc-key-1.mc-th {
	border-left-color: rgb(43, 140, 196);
}
.govuk-govspeak .mc-chart .mc-tr .mc-bar-2.mc-bar-cell.mc-td {
	background-color: rgb(40, 161, 151);
}
.govuk-govspeak .mc-chart .mc-tr .mc-key-2.mc-th {
	border-left-color: rgb(40, 161, 151);
}
.govuk-govspeak .mc-chart .mc-tr .mc-bar-3.mc-bar-cell.mc-td {
	background-color: rgb(0, 100, 53);
}
.govuk-govspeak .mc-chart .mc-tr .mc-key-3.mc-th {
	border-left-color: rgb(0, 100, 53);
}
.govuk-govspeak .mc-chart .mc-tr .mc-bar-4.mc-bar-cell.mc-td {
	background-color: rgb(133, 153, 75);
}
.govuk-govspeak .mc-chart .mc-tr .mc-key-4.mc-th {
	border-left-color: rgb(133, 153, 75);
}
.govuk-govspeak .mc-chart .mc-tr .mc-bar-5.mc-bar-cell.mc-td {
	background-color: rgb(255, 191, 71);
}
.govuk-govspeak .mc-chart .mc-tr .mc-key-5.mc-th {
	border-left-color: rgb(255, 191, 71);
}
.govuk-govspeak .mc-chart .mc-tr .mc-bar-6.mc-bar-cell.mc-td {
	background-color: rgb(244, 119, 56);
}
.govuk-govspeak .mc-chart .mc-tr .mc-key-6.mc-th {
	border-left-color: rgb(244, 119, 56);
}
.govuk-govspeak .mc-chart .mc-tr .mc-bar-7.mc-bar-cell.mc-td {
	background-color: rgb(177, 14, 30);
}
.govuk-govspeak .mc-chart .mc-tr .mc-key-7.mc-th {
	border-left-color: rgb(177, 14, 30);
}
.govuk-govspeak .mc-chart .mc-tr .mc-bar-8.mc-bar-cell.mc-td {
	background-color: rgb(223, 48, 52);
}
.govuk-govspeak .mc-chart .mc-tr .mc-key-8.mc-th {
	border-left-color: rgb(223, 48, 52);
}
.govuk-govspeak .mc-chart .mc-td {
	padding: 0px 5px 0px 0px; border: 0px solid currentColor; border-image: none; margin-right: 1px;
}
.govuk-govspeak .mc-chart .mc-th {
	padding: 0px 5px 0px 0px; border: 0px solid currentColor; border-image: none; margin-right: 1px;
}
.govuk-govspeak .mc-chart .mc-bar-cell.mc-td {
	padding: 8px 0px; text-align: left; color: rgb(255, 255, 255); text-indent: 4px; margin-bottom: 1px; display: block; background-color: rgb(235, 235, 235);
}
.govuk-govspeak .mc-chart .mc-bar-cell.mc-th {
	padding: 8px 0px; text-align: left; color: rgb(255, 255, 255); text-indent: 4px; margin-bottom: 1px; display: block; background-color: rgb(235, 235, 235);
}
.govuk-govspeak .mc-chart .mc-bar-outdented span {
	color: rgb(17, 17, 17);
}
.govuk-govspeak .mc-chart caption {
	caption-side: top;
}
.govuk-govspeak .mc-chart .mc-key-cell.mc-td {
	width: 40%; text-align: right; text-indent: 26px; vertical-align: middle; display: table-cell;
}
.govuk-govspeak .mc-outdented.mc-chart .mc-tbody .mc-tr .mc-bar-cell {
	color: rgb(17, 17, 17);
}
.govuk-govspeak .mc-outdented.mc-chart .mc-tbody .mc-tr .mc-bar-negative {
	text-align: left;
}
.govuk-govspeak .mc-negative.mc-chart .mc-key-cell.mc-td {
	padding-right: 25px;
}
.govuk-govspeak .mc-outdented .mc-bar-negative.mc-bar-cell {
	text-align: left;
}
.govuk-govspeak .mc-negative.mc-chart .mc-key-cell.mc-td {
	padding-right: 25px;
}
.govuk-govspeak .mc-toggle-link {
	margin-top: 30px; display: block;
}
.govuk-govspeak .visually-hidden {
	padding: 0px !important; border: 0px currentColor !important; border-image: none !important; width: 1px !important; height: 1px !important; overflow: hidden; position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
.govuk-govspeak .visually-hidden caption {
	padding: 0px !important; border: 0px currentColor !important; border-image: none !important; width: 1px !important; height: 1px !important; overflow: hidden; position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
.direction-rtl.govuk-govspeak {
	direction: rtl;
}
.govuk-govspeak h2:first-child {
	margin-top: 0px;
}
.govuk-govspeak h3:first-child {
	margin-top: 0px;
}
.govuk-govspeak h4:first-child {
	margin-top: 0px;
}
.govuk-govspeak p:first-child {
	margin-top: 0px;
}
.govuk-govspeak h2 {
	text-transform: none; line-height: 1.1111; font-family: "nta",Arial,sans-serif; font-size: 20px; font-weight: bold; margin-top: 15px;
}
@media all and (min-width:641px)
{
.govuk-govspeak h2 {
	line-height: 1.1111; font-size: 27px;
}
}
@media all and (min-width:769px)
{
.govuk-govspeak h2 {
	margin-top: 45px;
}
}
.govuk-govspeak h3 {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: bold; margin-top: 35px;
}
@media all and (min-width:641px)
{
.govuk-govspeak h3 {
	line-height: 1.3157; font-size: 19px;
}
}
.govuk-govspeak h3.hosted-externally {
	text-transform: none; line-height: 1.1111; padding-top: 2px; font-family: "nta",Arial,sans-serif; font-size: 20px; font-weight: bold;
}
@media all and (min-width:641px)
{
.govuk-govspeak h3.hosted-externally {
	line-height: 1.1111; font-size: 27px;
}
}
.govuk-govspeak h3.hosted-externally a {
	text-decoration: none;
}
.govuk-govspeak h3.hosted-externally a:hover {
	text-decoration: underline;
}
.govuk-govspeak h4 {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: bold; margin-top: 35px;
}
@media all and (min-width:641px)
{
.govuk-govspeak h4 {
	line-height: 1.3157; font-size: 19px;
}
}
.govuk-govspeak p {
	margin: 5px 0px; text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 400;
}
@media all and (min-width:641px)
{
.govuk-govspeak p {
	line-height: 1.3157; font-size: 19px;
}
}
@media all and (min-width:641px)
{
.govuk-govspeak p {
	margin: 10px 0px;
}
}
.govuk-govspeak h4 {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: bold;
}
.govuk-govspeak h5 {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: bold;
}
.govuk-govspeak h6 {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: bold;
}
@media all and (min-width:641px)
{
.govuk-govspeak h4 {
	line-height: 1.3157; font-size: 19px;
}
.govuk-govspeak h5 {
	line-height: 1.3157; font-size: 19px;
}
.govuk-govspeak h6 {
	line-height: 1.3157; font-size: 19px;
}
}
.govuk-govspeak h4 + p {
	margin-top: 0px;
}
.govuk-govspeak h5 + p {
	margin-top: 0px;
}
.govuk-govspeak h6 + p {
	margin-top: 0px;
}
.govuk-govspeak a {
	text-decoration: underline;
}
.govuk-govspeak ol {
	list-style: decimal; margin: 5px 0px 5px 20px; text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 400;
}
.govuk-govspeak ul {
	list-style: decimal; margin: 5px 0px 5px 20px; text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: 400;
}
@media all and (min-width:641px)
{
.govuk-govspeak ol {
	line-height: 1.3157; font-size: 19px;
}
.govuk-govspeak ul {
	line-height: 1.3157; font-size: 19px;
}
}
@media all and (min-width:641px)
{
.govuk-govspeak ol {
	margin: 10px 0px 10px 20px;
}
.govuk-govspeak ul {
	margin: 10px 0px 10px 20px;
}
}
.govuk-govspeak ol ul {
	margin: 0px 0px 0px 20px; padding: 0px;
}
.govuk-govspeak ol ol {
	margin: 0px 0px 0px 20px; padding: 0px;
}
.govuk-govspeak ul ul {
	margin: 0px 0px 0px 20px; padding: 0px;
}
.govuk-govspeak ul ol {
	margin: 0px 0px 0px 20px; padding: 0px;
}
.govuk-govspeak ul {
	
}
.direction-rtl.govuk-govspeak ol {
	margin: 5px 20px 5px 0px;
}
.direction-rtl.govuk-govspeak ul {
	margin: 5px 20px 5px 0px;
}
@media all and (min-width:641px)
{
.direction-rtl.govuk-govspeak ol {
	margin: 10px 20px 10px 0px;
}
.direction-rtl.govuk-govspeak ul {
	margin: 10px 20px 10px 0px;
}
}
.direction-rtl.govuk-govspeak ol ul {
	margin: 0px 20px 0px 0px;
}
.direction-rtl.govuk-govspeak ol ol {
	margin: 0px 20px 0px 0px;
}
.direction-rtl.govuk-govspeak ul ul {
	margin: 0px 20px 0px 0px;
}
.direction-rtl.govuk-govspeak ul ol {
	margin: 0px 20px 0px 0px;
}
.govuk-govspeak ol.legislative-list {
	list-style: none; margin: 5px 0px;
}
.govuk-govspeak ol.legislative-list li {
	margin: 5px 0px;
}
.govuk-govspeak ol.legislative-list p {
	margin: 20px 0px;
}
.govuk-govspeak ol.legislative-list ol {
	list-style: none; margin: 10px 0px 10px 30px;
}
.govuk-govspeak em {
	font-style: normal; font-weight: inherit;
}
.govuk-govspeak i {
	font-style: normal; font-weight: inherit;
}
.govuk-govspeak li p {
	margin: 0px; padding: 0px;
}
.govuk-govspeak li p + p {
	margin-top: 10px;
}
.govuk-govspeak li p + ul {
	margin-top: 10px;
}
.govuk-govspeak li p + ol {
	margin-top: 10px;
}
.govuk-govspeak li ul + p {
	margin-top: 10px;
}
.govuk-govspeak li ul + ol {
	margin-top: 10px;
}
.govuk-govspeak li ol + p {
	margin-top: 10px;
}
.govuk-govspeak li ol + ul {
	margin-top: 10px;
}
.govuk-govspeak abbr {
	cursor: help;
}
.govuk-govspeak blockquote {
	margin: 0px; padding: 0px 0px 0px 20px; border: 0px currentColor; border-image: none;
}
@media all and (min-width:769px)
{
.govuk-govspeak blockquote {
	margin: 0px 0px 0px -30px;
}
}
.govuk-govspeak blockquote p {
	padding-left: 15px;
}
@media all and (min-width:641px)
{
.govuk-govspeak blockquote p {
	padding-left: 30px;
}
}
.govuk-govspeak blockquote p::before {
	clear: both; margin-left: -15px; float: left; content: "\201C";
}
.govuk-govspeak blockquote p:last-child::after {
	content: "\201D";
}
.direction-rtl.govuk-govspeak blockquote {
	padding: 0px 20px 0px 0px;
}
@media all and (min-width:769px)
{
.direction-rtl.govuk-govspeak blockquote {
	margin: 0px -30px 0px 0px;
}
}
.direction-rtl.govuk-govspeak blockquote p {
	padding-right: 15px; padding-left: 0px;
}
@media all and (min-width:641px)
{
.direction-rtl.govuk-govspeak blockquote p {
	padding-right: 30px; padding-left: 0px;
}
}
.direction-rtl.govuk-govspeak blockquote p::before {
	margin-right: -15px; margin-left: 0px; float: right; content: "\201D";
}
.direction-rtl.govuk-govspeak blockquote p:last-child::after {
	content: "\201C";
}
.govuk-govspeak hr {
	margin-top: 29px; margin-bottom: 30px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.govuk-govspeak figure {
	padding: 10px 0px 0px; width: 100%; overflow: hidden; clear: both;
}
.govuk-govspeak figure img {
	width: auto; height: auto; text-align: center; display: inline; max-width: 100%;
}
.govuk-govspeak figure figcaption {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 12px; font-weight: 400;
}
@media all and (min-width:641px)
{
.govuk-govspeak figure figcaption {
	line-height: 1.4285; font-size: 14px;
}
}
.govuk-govspeak img {
	width: auto; height: auto; max-width: 100%;
}
.govuk-govspeak sup {
	line-height: 0.7em; font-size: 0.8em; vertical-align: super;
}
.govuk-govspeak .information-block {
	background: no-repeat 98% 20px rgb(222, 224, 226); margin: 30px 0px; padding: 10px 60px 10px 15px; position: relative;
}
.govuk-govspeak .call-to-action {
	background: no-repeat 98% 20px rgb(222, 224, 226); margin: 30px 0px; padding: 10px 60px 10px 15px; position: relative;
}
.govuk-govspeak .information-block p {
	margin: 0px; padding: 0px;
}
.govuk-govspeak .call-to-action p {
	margin: 0px; padding: 0px;
}
@media all and (min-width:769px)
{
.govuk-govspeak .information-block ol {
	list-style-position: outside;
}
.govuk-govspeak .call-to-action ol {
	list-style-position: outside;
}
}
.govuk-govspeak .information-block::after {
	background-position: center; border-radius: 30px; top: 20px; width: 30px; height: 30px; right: 20px; text-indent: -9999px; overflow: hidden; position: absolute; content: "info"; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/govuk-component/govspeak-information-icon-e5735017ed9a9543e148b590c1ef0767.png"); background-color: rgb(0, 94, 165); -webkit-border-radius: 30px; -moz-border-radius: 30px;
}
.govuk-govspeak table {
	margin: 30px 0px; width: 100%; text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 12px; font-weight: 400; border-collapse: collapse; border-spacing: 0;
}
@media all and (min-width:641px)
{
.govuk-govspeak table {
	line-height: 1.4285; font-size: 14px;
}
}
.govuk-govspeak table caption {
	text-align: left; margin-bottom: 0.5em;
}
.govuk-govspeak table th {
	padding: 10px 10px 10px 0px; vertical-align: top; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
.govuk-govspeak table td {
	padding: 10px 10px 10px 0px; vertical-align: top; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid;
}
.govuk-govspeak table th {
	text-align: left; color: rgb(11, 12, 12); text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 12px; font-weight: 700;
}
@media all and (min-width:641px)
{
.govuk-govspeak table th {
	line-height: 1.4285; font-size: 14px;
}
}
.govuk-govspeak table td small {
	font-size: 1em;
}
.govuk-govspeak .fraction sup {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 12px; font-weight: 400;
}
.govuk-govspeak .fraction sub {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 12px; font-weight: 400;
}
@media all and (min-width:641px)
{
.govuk-govspeak .fraction sup {
	line-height: 1.4285; font-size: 14px;
}
.govuk-govspeak .fraction sub {
	line-height: 1.4285; font-size: 14px;
}
}
.govuk-govspeak .fraction img {
	margin: 0px 0px -5px; width: auto; display: inline-block;
}
.govuk-govspeak .address {
	padding-left: 15px; border-left-color: rgb(191, 193, 195); border-left-width: 1px; border-left-style: solid;
}
.govuk-govspeak .contact {
	padding-left: 15px; border-left-color: rgb(191, 193, 195); border-left-width: 1px; border-left-style: solid;
}
.govuk-govspeak .contact {
	margin-bottom: 30px; position: relative;
}
.govuk-govspeak .contact .content {
	width: 100%; float: none;
}
.govuk-govspeak .contact .content h3 {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: bold; margin-bottom: 5px;
}
@media all and (min-width:641px)
{
.govuk-govspeak .contact .content h3 {
	line-height: 1.3157; font-size: 19px;
}
}
@media all and (min-width:641px)
{
.govuk-govspeak .contact .content .adr {
	width: 50%; float: left;
}
.govuk-govspeak .contact .content .email-url-number {
	width: 50%; float: left;
}
.govuk-govspeak .contact .content .comments {
	width: 50%; float: left;
}
}
.govuk-govspeak .contact .content .email-url-number p {
	margin: 0px;
}
.govuk-govspeak .contact .content .email-url-number p .email {
	-ms-word-wrap: break-word;
}
.govuk-govspeak .contact .content .email-url-number span {
	display: block;
}
.govuk-govspeak .contact .content .comments {
	text-transform: none; line-height: 1.1428; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 400;
}
@media all and (min-width:641px)
{
.govuk-govspeak .contact .content .comments {
	line-height: 1.25; font-size: 16px;
}
}
.govuk-govspeak .footnotes {
	padding-top: 10px; margin-top: 30px; border-top-color: rgb(191, 193, 195); border-top-width: 1px; border-top-style: solid;
}
.govuk-govspeak .footnotes ol {
	padding-top: 0px; margin-top: 0px;
}
.govuk-govspeak .footnotes ol li p {
	margin: 10px 0px;
}
.govuk-govspeak .media-player {
	margin: 30px 0px; overflow: hidden; display: block;
}
.govuk-govspeak .player-wide.media-player {
	min-width: 580px;
}
.govuk-govspeak .media-player span {
	margin: 0px; padding: 0px; display: block;
}
.govuk-govspeak .media-player .video {
	position: relative; z-index: 3000;
}
.govuk-govspeak .media-player .video iframe {
	display: block;
}
.govuk-govspeak .media-player .logo {
	display: none;
}
.govuk-govspeak .media-player .control-bar {
	width: 100%; height: 60px; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.govuk-govspeak .media-player .control-bar button {
	background: none; padding: 0px; border: currentColor; border-image: none; cursor: pointer;
}
.govuk-govspeak .media-player .control-bar button:focus {
	background-color: orange;
}
.govuk-govspeak .media-player .control-bar a:focus {
	background-color: orange;
}
.govuk-govspeak .media-player .control-bar .player-controls .play {
	background-position: left; left: 0px; width: 40px; height: 40px; bottom: 0px; text-indent: -5000%; overflow: hidden; position: absolute; background-repeat: no-repeat;
}
.govuk-govspeak .media-player .control-bar .player-controls .pause {
	background-position: left; left: 0px; width: 40px; height: 40px; bottom: 0px; text-indent: -5000%; overflow: hidden; position: absolute; background-repeat: no-repeat;
}
.govuk-govspeak .media-player .control-bar .player-controls .play {
	background-image: url("https://assets.digital.cabinet-office.gov.uk/static/player-icon-play-ed63b2ed0b2780a73358d1e83028d361.png");
}
.govuk-govspeak .media-player .control-bar .player-controls .pause {
	background-image: url("https://assets.digital.cabinet-office.gov.uk/static/player-icon-pause-48c9d47d3507212187ed7f960bddaad7.png");
}
.govuk-govspeak .media-player .control-bar .player-controls .rewind {
	background-position: left; top: 0px; width: 40px; height: 20px; text-indent: -5000%; overflow: hidden; position: absolute; z-index: 30; background-repeat: no-repeat;
}
.govuk-govspeak .media-player .control-bar .player-controls .forward {
	background-position: left; top: 0px; width: 40px; height: 20px; text-indent: -5000%; overflow: hidden; position: absolute; z-index: 30; background-repeat: no-repeat;
}
.govuk-govspeak .media-player .control-bar .player-controls .rewind {
	left: 0px; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/player-icon-rewind-14b4bde04a3675e148a1dd55c6ce5983.png");
}
.govuk-govspeak .media-player .control-bar .player-controls .forward {
	left: 100%; margin-left: -40px; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/player-icon-forward-1d1ee97c395641ed3ee4eb9822a83acc.png");
}
.govuk-govspeak .media-player .control-bar .volume-controls {
	width: 180px; height: 40px; right: 0px; bottom: 0px; overflow: visible; position: absolute;
}
.govuk-govspeak .media-player .control-bar .volume-controls .mute {
	left: 120px; width: 50px; height: 40px; text-align: center; bottom: 0px; line-height: 40px; padding-top: 1px; font-size: 14px; position: absolute;
}
.govuk-govspeak .media-player .control-bar .volume-controls .muted {
	color: rgb(43, 140, 196);
}
.govuk-govspeak .media-player .control-bar .volume-controls .muted ~ * {
	opacity: 0.333;
}
.govuk-govspeak .media-player .control-bar .volume-controls .muted ~ .vol-display {
	text-decoration: line-through;
}
.govuk-govspeak .media-player .control-bar .volume-controls .muted::after {
	content: "d";
}
.govuk-govspeak .media-player .control-bar .volume-controls .vol-down {
	width: 60px; height: 40px; text-align: center; bottom: 0px; line-height: 40px; padding-top: 2px; font-size: 24px; position: absolute; z-index: 10;
}
.govuk-govspeak .media-player .control-bar .volume-controls .vol-up {
	width: 60px; height: 40px; text-align: center; bottom: 0px; line-height: 40px; padding-top: 2px; font-size: 24px; position: absolute; z-index: 10;
}
.govuk-govspeak .media-player .control-bar .volume-controls .vol-down:hover {
	color: rgb(43, 140, 196);
}
.govuk-govspeak .media-player .control-bar .volume-controls .vol-down:focus {
	color: rgb(43, 140, 196);
}
.govuk-govspeak .media-player .control-bar .volume-controls .vol-up:hover {
	color: rgb(43, 140, 196);
}
.govuk-govspeak .media-player .control-bar .volume-controls .vol-up:focus {
	color: rgb(43, 140, 196);
}
.govuk-govspeak .media-player .control-bar .volume-controls .vol-down {
	left: 0px; text-align: left; padding-left: 10px;
}
.govuk-govspeak .media-player .control-bar .volume-controls .vol-up {
	left: 60px; text-align: right; padding-right: 10px;
}
.govuk-govspeak .media-player .control-bar .volume-controls .vol-display {
	background-position: left; left: 20px; width: 0px; height: 40px; bottom: 0px; line-height: 40px; overflow: visible; padding-left: 35px; font-size: 14px; font-weight: bold; position: absolute; background-image: url("https://assets.digital.cabinet-office.gov.uk/static/player-icon-volume-f9e79a431027602c4adb806422caa1bc.png"); background-repeat: no-repeat;
}
.govuk-govspeak .media-player .control-bar .current-time {
	left: 50px; height: 40px; bottom: 0px; line-height: 40px; font-size: 14px; font-weight: bold; position: absolute;
}
.govuk-govspeak .media-player .control-bar .duration-time {
	height: 40px; right: 10px; bottom: 0px; line-height: 40px; font-size: 16px; font-weight: bold; display: none; position: absolute;
}
.govuk-govspeak .media-player .control-bar .ui-slider {
	background: rgb(191, 193, 195); top: 0px; width: 100%; height: 20px; right: 0px; overflow: hidden; position: absolute;
}
.govuk-govspeak .media-player .control-bar .ui-slider .progress-bar {
	background: rgb(43, 140, 196); left: 0px; top: 0px; height: 100%; padding-bottom: 1px; position: absolute;
}
.govuk-govspeak .media-player .control-bar .ui-slider .ui-slider-handle {
	top: 0px; width: 20px; height: 100%; color: rgba(0, 0, 0, 0.5); padding-bottom: 1px; position: absolute; z-index: 10;
}
.govuk-govspeak .media-player .ui-helper-hidden-accessible {
	left: -5000%; position: absolute;
}
.govuk-metadata {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 12px; font-weight: 400;
}
@media all and (min-width:641px)
{
.govuk-metadata {
	line-height: 1.4285; font-size: 14px;
}
}
.direction-rtl.govuk-metadata {
	direction: rtl;
}
.govuk-metadata dt {
	width: auto; clear: left; float: left; min-width: 120px;
}
@media all and (min-width:641px)
{
.govuk-metadata dt {
	padding-right: 10px;
}
}
.direction-rtl.govuk-metadata dt {
	clear: right; float: right;
}
@media all and (min-width:641px)
{
.direction-rtl.govuk-metadata dt {
	padding-right: 0px; padding-left: 10px;
}
}
.govuk-metadata dd {
	width: 55%; float: left;
}
@media all and (min-width:641px)
{
.govuk-metadata dd {
	width: 70%;
}
}
.direction-rtl.govuk-metadata dd {
	float: right;
}
.govuk-title {
	margin: 15px 0px;
}
@media all and (min-width:641px)
{
.govuk-title {
	margin: 30px 0px;
}
}
.govuk-title .context {
	color: rgb(111, 119, 123); text-transform: none; line-height: 1.2; font-family: "nta",Arial,sans-serif; font-size: 18px; font-weight: 400;
}
@media all and (min-width:641px)
{
.govuk-title .context {
	line-height: 1.25; font-size: 24px;
}
}
.govuk-title h1 {
	text-transform: none; line-height: 1.0937; font-family: "nta",Arial,sans-serif; font-size: 32px; font-weight: 700;
}
@media all and (min-width:641px)
{
.govuk-title h1 {
	line-height: 1.0416; font-size: 48px;
}
}
.length-long.govuk-title h1 {
	text-transform: none; line-height: 1.0416; font-family: "nta",Arial,sans-serif; font-size: 24px; font-weight: 700;
}
@media all and (min-width:641px)
{
.length-long.govuk-title h1 {
	line-height: 1.1111; font-size: 36px;
}
}
.govuk-option-select {
	padding: 5px; background-color: rgb(222, 224, 226);
}
.govuk-option-select:focus {
	outline: rgb(255, 191, 71) solid 3px;
}
.govuk-option-select .container-head {
	padding: 0px 5px;
}
.govuk-option-select .option-select-label {
	text-transform: none; line-height: 1.25; padding-top: 5px; font-family: "nta",Arial,sans-serif; font-size: 16px; font-weight: bold; margin-right: 40px;
}
@media all and (min-width:641px)
{
.govuk-option-select .option-select-label {
	line-height: 1.3157; font-size: 19px;
}
}
.govuk-option-select .options-container {
	position: relative; -ms-overflow-x: hidden; -ms-overflow-y: scroll; background-color: rgb(255, 255, 255);
}
@media all and (min-width:769px)
{
.govuk-option-select .options-container {
	max-height: 200px;
}
}
.govuk-option-select .options-container label {
	padding: 7px 0px 7px 30px; width: 100%; border-bottom-color: rgb(191, 193, 195); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; cursor: pointer;
}
@media all and (min-width:769px)
{
.govuk-option-select .options-container label {
	width: 90%;
}
}
.govuk-option-select .options-container label:hover {
	background-color: rgb(248, 248, 248);
}
.govuk-option-select .options-container input {
	margin-left: -23px; vertical-align: top;
}
.js-enabled .govuk-option-select {
	padding: 0px 0px 1px;
}
.js-enabled .govuk-option-select .js-selected-counter {
	text-transform: none; line-height: 1.25; font-family: "nta",Arial,sans-serif; font-size: 12px; font-weight: 400;
}
@media all and (min-width:641px)
{
.js-enabled .govuk-option-select .js-selected-counter {
	line-height: 1.4285; font-size: 14px;
}
}
.js-enabled .govuk-option-select .options-container {
	border: 5px solid rgb(222, 224, 226); border-image: none;
}
.js-enabled .js-collapsible.govuk-option-select button {
	background: url("https://assets.digital.cabinet-office.gov.uk/static/govuk-component/option-select-toggle-sprite-c66c966b92cab831794483ac06f71301.png") no-repeat right 5px rgb(222, 224, 226); padding: 5px 8px; border: currentColor; border-image: none; width: 100%; text-align: left; margin-bottom: -1px; display: block; position: relative; z-index: 100; cursor: pointer;
}
@media not all, not all, not all, not all, only screen and (min-resolution:192dpi), not all
{
.js-enabled .js-collapsible.govuk-option-select button {
	background: url("https://assets.digital.cabinet-office.gov.uk/static/govuk-component/option-select-toggle-sprite-c66c966b92cab831794483ac06f71301.png") no-repeat right 5px;
}
}
.js-enabled .js-collapsible.govuk-option-select button:hover {
	background-color: rgb(191, 193, 195);
}
.js-enabled .js-collapsible.govuk-option-select button:hover + .options-container {
	border-color: rgb(191, 193, 195);
}
.js-enabled .js-collapsible.govuk-option-select button[disabled] {
	color: inherit; background-image: none;
}
.js-enabled .js-closed.js-collapsible.govuk-option-select button {
	background-position: right -75px;
}
.js-enabled .js-closed.js-collapsible.govuk-option-select .options-container {
	display: none;
}
.govuk-previous-and-next-navigation {
	display: block;
}
@media all and (max-width:640px)
{
.govuk-previous-and-next-navigation {
	margin: 2em 0px 0px;
}
}
.govuk-previous-and-next-navigation ul {
	margin: 0px; padding: 0px;
}
.govuk-previous-and-next-navigation li {
	list-style: none; margin: 0px; padding: 0px; width: 49%; text-align: right; text-transform: none; line-height: 1.1428; font-family: "nta",Arial,sans-serif; font-size: 14px; font-weight: 400; float: left;
}
@media all and (min-width:641px)
{
.govuk-previous-and-next-navigation li {
	line-height: 1.25; font-size: 16px;
}
}
.govuk-previous-and-next-navigation li a {
	color: rgb(0, 94, 165); text-decoration: none; display: block;
}
.govuk-previous-and-next-navigation li a:hover {
	background-color: rgb(248, 248, 248);
}
.govuk-previous-and-next-navigation li a:active {
	background-color: rgb(248, 248, 248);
}
.govuk-previous-and-next-navigation li a .pagination-part-title {
	text-transform: none; line-height: 1.1111; font-family: "nta",Arial,sans-serif; font-size: 20px; font-weight: 400; margin-bottom: 0.1em; display: block;
}
@media all and (min-width:641px)
{
.govuk-previous-and-next-navigation li a .pagination-part-title {
	line-height: 1.25; font-size: 27px;
}
}
.govuk-previous-and-next-navigation li.next-page {
	text-align: right; float: right;
}
.govuk-previous-and-next-navigation li.next-page a::before {
	background: url("https://assets.digital.cabinet-office.gov.uk/static/govuk-component/arrow-sprite-20de3c9fa524b493538ff1b101cc2c04.png") no-repeat -102px -11px; margin: -4px -32px 0px 0px; width: 30px; height: 38px; float: right; display: block; content: " ";
}
.govuk-previous-and-next-navigation li.previous-page a::before {
	background: url("https://assets.digital.cabinet-office.gov.uk/static/govuk-component/arrow-sprite-20de3c9fa524b493538ff1b101cc2c04.png") no-repeat -20px -11px; margin: -4px 0px 0px -32px; width: 30px; height: 38px; float: left; display: block; content: " ";
}
.govuk-previous-and-next-navigation li.previous-page {
	text-align: left; float: left;
}
.govuk-previous-and-next-navigation li.previous-page a {
	padding: 0.75em 0px 0.75em 3em;
}
.govuk-previous-and-next-navigation li.next-page a {
	padding: 0.75em 3em 0.75em 0px;
}
@media all and (max-width:640px)
{
.govuk-previous-and-next-navigation li.previous-page {
	width: 100%; float: none;
}
.govuk-previous-and-next-navigation li.next-page {
	width: 100%; float: none;
}
.govuk-previous-and-next-navigation li.next-page a {
	text-align: right;
}
}
label.selectable {
	background: rgb(222, 224, 226); padding: 18px 30px 15px 45px; border: 1px solid rgb(222, 224, 226); border-image: none; clear: left; margin-top: 10px; margin-bottom: 10px; float: none; display: block; position: relative; cursor: pointer;
}
@media all and (min-width:641px)
{
label.selectable {
	margin-top: 5px; margin-bottom: 5px; float: left;
}
}
label.selectable:hover {
	border-color: rgb(11, 12, 12);
}
label.selectable input {
	left: 15px; top: 18px; position: absolute; cursor: pointer;
}
.inline label.selectable {
	clear: none; margin-right: 15px;
}
.js-enabled label.selectable input:focus {
	
}
.js-enabled label.selected.selectable {
	background: rgb(255, 255, 255); border-color: rgb(11, 12, 12);
}
.js-enabled label.focused.selectable {
	outline: rgb(255, 191, 71) solid 3px;
}
